/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* Basic styles for HTML tags */
/* =============================================================================
 *   Base
 * ========================================================================== */
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
/* line 15, ../sass/_html_tags.scss */
html {
  background: #fff;
}

/* line 19, ../sass/_html_tags.scss */
body {
  height: 100%;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  font-size: 87.5%;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #3b3b3b;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
/* line 39, ../sass/_html_tags.scss */
h1 {
  color: #000;
}
/* line 41, ../sass/_html_tags.scss */
h1#page-title {
  line-height: 1.5;
  display: table;
  padding: 6px 10px;
  margin-top: 0.5em;
  margin-left: -24px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen {
  /* line 41, ../sass/_html_tags.scss */
  h1#page-title {
    background-color: #444;
    color: #eee;
  }
}

/* line 60, ../sass/_html_tags.scss */
h2, h3, h4, h5, h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}

/* line 65, ../sass/_html_tags.scss */
h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}

/* line 71, ../sass/_html_tags.scss */
h3 {
  font-size: 1.17em;
}

/* line 75, ../sass/_html_tags.scss */
main {
  margin-bottom: 2.5em;
}

@media screen {
  box-shadow: 0 0.9375em 0.9375em 0.5em #555555;
}
/* line 83, ../sass/_html_tags.scss */
p {
  margin: 0 0 1.2em;
  max-width: 50em;
}

/* line 88, ../sass/_html_tags.scss */
p, h3 {
  /*
   * If there is not enough room beside the float to display a readable
   * width of text, force this below the float.
   */
}
/* line 93, ../sass/_html_tags.scss */
p:before, h3:before {
  content: "";
  width: 10em;
  display: block;
  overflow: hidden;
}

/* line 101, ../sass/_html_tags.scss */
a {
  text-decoration: none;
}
@media screen {
  /* line 101, ../sass/_html_tags.scss */
  a {
    color: #0070b3;
  }
  /* line 105, ../sass/_html_tags.scss */
  a:hover, a:focus {
    color: #008ee2;
    text-decoration: underline;
  }
  /* line 110, ../sass/_html_tags.scss */
  a:active {
    color: #22adff;
    text-decoration: underline;
  }
}
@media print {
  /* line 101, ../sass/_html_tags.scss */
  a {
    color: black;
  }
}

/* line 140, ../sass/_html_tags.scss */
del {
  text-decoration: line-through;
}

/* line 148, ../sass/_html_tags.scss */
blockquote {
  background: #f7f7f7;
  border-left: 0.0625em solid #bbb;
  font-style: italic;
  margin: 1.5em 0.625em;
  padding: 0.5em 0.625em;
}
/* line 154, ../sass/_html_tags.scss */
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em;
}
/* line 162, ../sass/_html_tags.scss */
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}
/* line 169, ../sass/_html_tags.scss */
blockquote > p:first-child {
  display: inline;
}

/* line 207, ../sass/_html_tags.scss */
pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;
  padding: 0 0.4em;
  font-size: 0.857em;
}

/* line 217, ../sass/_html_tags.scss */
code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}

/* line 221, ../sass/_html_tags.scss */
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 1em;
  background-color: transparent;
}

/* line 231, ../sass/_html_tags.scss */
pre code,
pre samp,
pre var {
  padding: 0;
}

/* line 236, ../sass/_html_tags.scss */
kbd {
  background-color: #f2f2f2;
  border: 0.0625em outset #575757;
  margin: 0 0.1875em;
  color: #666;
  display: inline-block;
  padding: 0 0.375em;
  -khtml-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
}

/* line 248, ../sass/_html_tags.scss */
pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 0.625em 0;
  overflow: hidden;
  padding: 0.9375em;
  white-space: pre-wrap;
}

/*
 * Define consistent borders
 */
/* line 260, ../sass/_html_tags.scss */
fieldset {
  background: #ffffff;
  border: 0.0625em solid #ccc;
  margin-top: 0.625em;
  margin-bottom: 2em;
  padding: 0 0 0.625em;
  position: relative;
  top: 0.75em;
  /* Offsets the negative margin of legends */
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
/* line 272, ../sass/_html_tags.scss */
fieldset legend {
  background: #dbdbdb;
  border: 0.0625em solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -0.0625em;
  /* LTR */
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 0.625em;
  text-shadow: 0 0.0625em 0 #fff;
  top: -0.75em;
  width: 100%;
  -khtml-border-radius-topleft: 0.25em;
  -moz-border-radius-topleft: 0.25em;
  -webkit-border-top-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
  -khtml-border-radius-topright: 0.25em;
  -moz-border-radius-topright: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
/* line 295, ../sass/_html_tags.scss */
fieldset legend legend a {
  color: #3b3b3b;
}
/* line 297, ../sass/_html_tags.scss */
fieldset legend legend a:hover, fieldset legend legend a:focus, fieldset legend legend a:active {
  color: #000;
}

/* line 306, ../sass/_html_tags.scss */
input {
  margin: 0.125em 0;
  padding: 0.25em;
}

/* line 311, ../sass/_html_tags.scss */
input,
textarea {
  font-size: 0.929em;
}

/* line 316, ../sass/_html_tags.scss */
textarea {
  line-height: 1.5;
}

/* line 320, ../sass/_html_tags.scss */
input[type="text"] {
  font-family: monospace;
  font-size: 13px;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */
/* line 329, ../sass/_html_tags.scss */
table {
  border: 0;
  border-spacing: 0;
  margin: 0.625em 0;
  width: 100%;
  padding: 0;
}
/* line 335, ../sass/_html_tags.scss */
table.sticky-header {
  z-index: 10;
}
/* line 338, ../sass/_html_tags.scss */
table td, table th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left;
  /* LTR */
}
/* line 343, ../sass/_html_tags.scss */
table th {
  background-color: #5ea2dd;
  font-weight: bold;
  color: white;
  border-bottom-style: none;
}
/* line 348, ../sass/_html_tags.scss */
table th a {
  color: white;
}
/* line 352, ../sass/_html_tags.scss */
table tr.odd {
  background: #eaeef2;
}
/* line 355, ../sass/_html_tags.scss */
table tr.even {
  background: #d6e0ed;
}
/* line 358, ../sass/_html_tags.scss */
table td {
  font-size: 0.8em;
}

/* Basic styles for Drupal core modules */
/*******  Core Book module *******/
/* Style the Book content type */
/* "Book navigation" block for the current book's table of contents */
/* Book navigation menu */
/* line 20, ../sass/_drupal_core.scss */
.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}
/* line 26, ../sass/_drupal_core.scss */
.book-navigation .menu {
  margin-left: 0;
}

/******* Core Contact module *******/
/* Contact Form */
/* line 33, ../sass/_drupal_core.scss */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 40, ../sass/_drupal_core.scss */
.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 47, ../sass/_drupal_core.scss */
.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 54, ../sass/_drupal_core.scss */
.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 0.25em;
  -khtml-border-top-right-radius: 0.25em;
  -moz-border-radius-topleft: 0.25em;
  -moz-border-radius-topright: 0.25em;
  -webkit-border-top-left-radius: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

/* line 65, ../sass/_drupal_core.scss */
.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 0.25em;
  -khtml-border-bottom-right-radius: 0.25em;
  -moz-border-radius-bottomleft: 0.25em;
  -moz-border-radius-bottomright: 0.25em;
  -webkit-border-bottom-left-radius: 0.25em;
  -webkit-border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

/******* Core Forum module *******/
/* "Active forum topics" block */
/* "New forum topics" block */
/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
/* line 92, ../sass/_drupal_core.scss */
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: normal;
}

/* line 101, ../sass/_drupal_core.scss */
#forum .name {
  font-size: 1.083em;
}

/* line 104, ../sass/_drupal_core.scss */
#forum .description {
  font-size: 1em;
}

/******* Core Search module *******/
/* Search results are an ordered list so reset the margin */
/* line 111, ../sass/_drupal_core.scss */
.search-results {
  margin: 0;
  padding: 0;
}

/* search-form is inserted into search-box from var $search_box */
/* div block-search-form wraps the search form and button */
/* line 118, ../sass/_drupal_core.scss */
#block-search-form {
  margin: 0.5em;
}

/* form search-block-form contains the form and search button */
/* line 123, ../sass/_drupal_core.scss */
#search-block-form {
  border: 0 none;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}
/* line 129, ../sass/_drupal_core.scss */
#search-block-form label {
  display: none;
}
/* line 133, ../sass/_drupal_core.scss */
#search-block-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 1.5625em;
  width: 2.125em;
  padding: 0;
  cursor: pointer;
  text-indent: -625em;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../img/search-button.png) no-repeat center top;
  overflow: hidden;
}
/* line 144, ../sass/_drupal_core.scss */
#search-block-form input.form-submit:focus, #search-block-form input.form-submit:hover {
  background-position: center bottom;
}

/* Use the search form without the usual block */
/* line 153, ../sass/_drupal_core.scss */
#search-box {
  display: inline;
}
/* line 155, ../sass/_drupal_core.scss */
#search-box div {
  display: inline;
}
/* line 158, ../sass/_drupal_core.scss */
#search-box form {
  display: inline;
}
/* line 162, ../sass/_drupal_core.scss */
#search-box input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 20px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -625em;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../img/search-button.png) no-repeat center top;
  overflow: hidden;
}
/* line 173, ../sass/_drupal_core.scss */
#search-box input.form-submit:focus, #search-box input.form-submit:hover {
  background-position: center bottom;
}

/******* Core Taxonomy module *******/
/* line 182, ../sass/_drupal_core.scss */
.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
}
/* line 184, ../sass/_drupal_core.scss */
.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 0.3125em;
  /* LTR */
}
/* line 189, ../sass/_drupal_core.scss */
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em;
}
/* line 193, ../sass/_drupal_core.scss */
.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 197, ../sass/_drupal_core.scss */
.field-type-taxonomy-term-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 1em 0 0;
  /* LTR */
  white-space: nowrap;
}
/* line 203, ../sass/_drupal_core.scss */
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
/* line 207, ../sass/_drupal_core.scss */
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 0.625em 0 0;
}

/******* Core User module *******/
/* line 215, ../sass/_drupal_core.scss */
.submitted .user-picture img {
  float: left;
  /* LTR */
  height: 1.25em;
  margin: 0.0625em 0.3125em 0 0;
  /* LTR */
}

/* line 220, ../sass/_drupal_core.scss */
.field-type-image img,
.user-picture img {
  margin: 0 0 1em;
}

/* line 224, ../sass/_drupal_core.scss */
.profile .user-picture {
  float: none;
}

/* Password confirmation */
/* line 229, ../sass/_drupal_core.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* line 233, ../sass/_drupal_core.scss */
.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}

/* line 237, ../sass/_drupal_core.scss */
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em;
}

/* line 242, ../sass/_drupal_core.scss */
.password-strength-text {
  margin-top: 0.2em;
}

/* line 245, ../sass/_drupal_core.scss */
div.password-confirm {
  margin-top: 2.2em;
}

/* line 249, ../sass/_drupal_core.scss */
.password-suggestions ul li {
  margin-left: 1.2em;
  /* LTR */
}

/* Style Drupal administrative area */
/* Overlay layout styles */
/* line 5, ../sass/_drupal_admin.scss */
.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}

/* line 10, ../sass/_drupal_admin.scss */
.overlay #page {
  padding: 0 2em;
}

/* line 13, ../sass/_drupal_admin.scss */
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper {
  display: none;
}

/* line 21, ../sass/_drupal_admin.scss */
.overlay-processed .field-type-image {
  display: block;
  float: none;
}

/* line 25, ../sass/_drupal_admin.scss */
.overlay #messages {
  width: auto;
}

/* line 28, ../sass/_drupal_admin.scss */
body.overlay {
  color: #3b3b3b;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */
/* line 48, ../sass/global.styles.scss */
#page {
  background: none;
}

/*
 * Wraps the sidebars the content column
 */
/* line 55, ../sass/global.styles.scss */
#columns {
  padding-top: 0.75em;
}

/*
 * Main content column wrapper
 */
/* line 63, ../sass/global.styles.scss */
#content-column {
  background-color: white;
}

@media only screen and (min-width: 1024px) {
  /* line 68, ../sass/global.styles.scss */
  #content-column {
    box-shadow: 0px 15px 15px 8px #555555;
  }

  /* line 71, ../sass/global.styles.scss */
  #page-wrapper {
    background: url("/sites/all/themes/uac_responsive/img/bg.jpg") no-repeat fixed 0 0 transparent;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 77, ../sass/global.styles.scss */
  #page-wrapper {
    background-color: #444;
  }
}
/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
/* line 86, ../sass/global.styles.scss */
#main-content {
  padding: 0 1em 1em 1em;
  background-color: white;
}

/*
 * Footer wrapper
 */
@media print {
  /* line 95, ../sass/global.styles.scss */
  #footer-wrapper {
    display: none !important;
  }
}
/* line 99, ../sass/global.styles.scss */
#footer-wrapper {
  background: #292929 none repeat scroll 0 0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
  padding: 35px 5px 30px;
  width: 100%;
}

/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps breadcrumb
 */
/* line 118, ../sass/global.styles.scss */
#breadcrumb-wrapper {
  font-size: 0.929em;
}

/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/* line 129, ../sass/global.styles.scss */
#branding {
  display: table;
  float: left;
  max-width: 45%;
  margin: 5px 0;
}

/*
 * Logo
 */
/* line 140, ../sass/global.styles.scss */
#logo {
  float: left;
}
/* line 142, ../sass/global.styles.scss */
#logo img {
  border: 0 none;
  outline: 0 none;
}

/*
 * Wrapper for the site name and slogan
 */
/* line 152, ../sass/global.styles.scss */
#name-and-slogan {
  float: left;
  /* LTR */
  padding-top: 2.125em;
  margin: 0 0 1.875em 0.9375em;
  /* LTR */
}

/* line 157, ../sass/global.styles.scss */
#name-and-slogan,
#name-and-slogan a {
  color: #fffeff;
}

/* line 162, ../sass/global.styles.scss */
#secondary-menu-links {
  float: right;
  /* LTR */
  font-size: 0.929em;
  margin: 0.625em 0.625em 0;
}
/* line 166, ../sass/global.styles.scss */
#secondary-menu-links li a {
  color: #fffeff;
}
/* line 169, ../sass/global.styles.scss */
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}

/*
 * Site name (h1)
 */
/* line 179, ../sass/global.styles.scss */
#site-name {
  margin: 0;
  font-size: 1.821em;
  color: #686868;
  line-height: 1;
}
/* line 185, ../sass/global.styles.scss */
#site-name h1 {
  margin: 0;
}
/* line 189, ../sass/global.styles.scss */
#site-name a {
  font-weight: normal;
}
/* line 191, ../sass/global.styles.scss */
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
/* line 196, ../sass/global.styles.scss */
#site-name a:hover, #site-name a:focus {
  text-decoration: underline;
}

/*
 * Site slogan (h2)
 */
/* line 207, ../sass/global.styles.scss */
#site-slogan {
  margin: 0;
  font-size: 0.929em;
  margin-top: 0.4375em;
  word-spacing: 0.1em;
  font-style: italic;
}

/* ==============
 *   Priority One region for urgent warnings
 *=================== */
/* line 218, ../sass/global.styles.scss */
div.region-priority-one {
  clear: both;
  border: 3px red solid;
  display: block;
  background-color: #444;
  max-width: 440px;
  width: auto;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */
/* line 235, ../sass/global.styles.scss */
#main-content-header {
  padding-top: 0.5em;
  background-color: #ffffff;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/* line 244, ../sass/global.styles.scss */
a.feed-icon {
  display: inline-block;
  padding: 0.9375em 0 0 0;
}

/*
 * Aggregator feed source
 */
/* line 253, ../sass/global.styles.scss */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 0.625em;
}

/* line 260, ../sass/global.styles.scss */
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
/* line 270, ../sass/global.styles.scss */
ul.links {
  margin: 0;
  padding: 0;
}
/* line 274, ../sass/global.styles.scss */
ul.links.inline {
  display: block;
}
/* line 278, ../sass/global.styles.scss */
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 0.625em 0 0;
}

/*
 * Attribution message and link
 */
/* line 288, ../sass/global.styles.scss */
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;
}
/* line 294, ../sass/global.styles.scss */
.attribution a {
  text-decoration: none;
  color: inherit;
}
/* line 298, ../sass/global.styles.scss */
.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 *   NB: The primary menu is in #main-menu and handled by nice_menus
 * ========================================================================== */
/* Don't show menus on print media */
@media print {
  /* line 313, ../sass/global.styles.scss */
  #main-menu,
  nav,
  .nav {
    display: none !important;
  }
}
/* line 320, ../sass/global.styles.scss */
#main-menu {
  background-color: #333;
  float: left;
  width: 100%;
}

/* line 325, ../sass/global.styles.scss */
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}

/* line 330, ../sass/global.styles.scss */
.nav {
  clear: both;
  background-color: #333;
  float: left;
  width: 100%;
  margin: 0.625em 0;
}
/* line 337, ../sass/global.styles.scss */
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
}
/* line 343, ../sass/global.styles.scss */
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 352, ../sass/global.styles.scss */
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 0.625em;
}
/* line 359, ../sass/global.styles.scss */
.nav .block {
  margin-bottom: 0;
}

/* =============================================================================
 *   Superfish
 * ========================================================================== */
/* line 369, ../sass/global.styles.scss */
ul.sf-menu {
  margin-bottom: 0;
}
/* line 372, ../sass/global.styles.scss */
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 0.625em;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
/* line 382, ../sass/global.styles.scss */
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
/* line 389, ../sass/global.styles.scss */
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
/* line 403, ../sass/global.styles.scss */
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 408, ../sass/global.styles.scss */
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
/* line 418, ../sass/global.styles.scss */
.sf-vertical {
  width: 100%;
}
/* line 421, ../sass/global.styles.scss */
.sf-vertical li {
  width: 100%;
}
/* line 423, ../sass/global.styles.scss */
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
/* line 431, ../sass/global.styles.scss */
.sf-vertical li a {
  padding: 0 0.625em;
}

/*
 * Navbar style
 */
/* line 441, ../sass/global.styles.scss */
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
/* line 449, ../sass/global.styles.scss */
.sf-menu.sf-style-default a {
  padding: 0 0.625em;
}

/*
 * Mean menus, used on mobile
 */
/* line 457, ../sass/global.styles.scss */
.mean-container .mean-nav {
  background-color: #444;
}
/* line 459, ../sass/global.styles.scss */
.mean-container .mean-nav ul li a[href*="contribute"] {
  background-color: red;
}
/* line 463, ../sass/global.styles.scss */
.mean-container .mean-bar {
  background-color: #444;
}

/*
 * Links at bottom of page, just above footer
 */
/* line 471, ../sass/global.styles.scss */
nav#footer-links {
  margin: 0 1em;
}
/* line 473, ../sass/global.styles.scss */
nav#footer-links a {
  margin: 0.5em;
  vertical-align: -9px;
}
/* line 477, ../sass/global.styles.scss */
nav#footer-links div {
  margin: 0.5em;
}

/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
/* line 487, ../sass/global.styles.scss */
.at-mt .at-menu-toggle,
.at-mt .at-menu-toggle ul,
.at-mt .at-menu-toggle ul.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
/* line 495, ../sass/global.styles.scss */
.at-mt .at-menu-toggle-button {
  margin: 0;
}
/* line 499, ../sass/global.styles.scss */
.at-mt .at-menu-toggle ul a {
  padding: 0 0.625em;
  white-space: nowrap;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
/* line 510, ../sass/global.styles.scss */
ul.menu {
  padding-left: 0.9375em;
}
/* line 513, ../sass/global.styles.scss */
ul.menu ul {
  padding-left: 0.9375em;
}
/* line 517, ../sass/global.styles.scss */
ul.menu li {
  margin: 0;
}

/* If li.content exists it's a problem, so reset the padding */
/* line 524, ../sass/global.styles.scss */
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
/* line 534, ../sass/global.styles.scss */
#breadcrumb {
  margin: 0.625em 0;
  /* If the label is set to show in theme settings the label class is added */
}
/* line 538, ../sass/global.styles.scss */
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 0.625em;
}
/* line 543, ../sass/global.styles.scss */
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
/* line 548, ../sass/global.styles.scss */
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 553, ../sass/global.styles.scss */
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
/* line 557, ../sass/global.styles.scss */
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */
/* line 568, ../sass/global.styles.scss */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

/* line 575, ../sass/global.styles.scss */
.item-list ul.pager li {
  margin: 0;
}

/* line 580, ../sass/global.styles.scss */
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
/* line 586, ../sass/global.styles.scss */
ul.pager li.pager-current {
  font-weight: 700;
}

/* line 592, ../sass/global.styles.scss */
.block ul.pager li {
  margin: 0;
}

/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
/* line 602, ../sass/global.styles.scss */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
/* line 611, ../sass/global.styles.scss */
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 621, ../sass/global.styles.scss */
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 632, ../sass/global.styles.scss */
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
/* line 646, ../sass/global.styles.scss */
nav#tasks .tabs {
  margin-bottom: 0.9375em;
}
/* line 649, ../sass/global.styles.scss */
nav#tasks ul.primary {
  border-bottom-color: #ccc;
  margin: 1.25em 0;
  padding: 0 0 0 0.3125em;
}
/* line 654, ../sass/global.styles.scss */
nav#tasks ul.primary li {
  display: block;
  float: left;
  margin: 0 0.0625em -0.0625em;
}
/* line 659, ../sass/global.styles.scss */
nav#tasks ul.primary li a {
  background-color: #f5f5f5;
  border-color: #ccc;
  margin-right: 0.0625em;
  padding: 0 0.625em;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
  -khtml-border-radius-topleft: 0.375em;
  -moz-border-radius-topleft: 0.375em;
  -webkit-border-top-left-radius: 0.375em;
  border-top-left-radius: 0.375em;
  -khtml-border-radius-topright: 0.375em;
  -moz-border-radius-topright: 0.375em;
  -webkit-border-top-right-radius: 0.375em;
  border-top-right-radius: 0.375em;
  -khtml-border-radius-topleft: 0.375em;
  -moz-border-radius-topleft: 0.375em;
  -webkit-border-top-left-radius: 0.375em;
  border-top-left-radius: 0.375em;
  -khtml-border-radius-topright: 0.375em;
  -moz-border-radius-topright: 0.375em;
  -webkit-border-top-right-radius: 0.375em;
  border-top-right-radius: 0.375em;
}
/* line 685, ../sass/global.styles.scss */
nav#tasks ul.primary li a:hover, nav#tasks ul.primary li a:focus {
  background-color: #eee;
  border-color: #ccc;
}
/* line 694, ../sass/global.styles.scss */
nav#tasks ul.primary li.active a, nav#tasks ul.primary li.active a:hover, nav#tasks ul.primary li.active a:focus {
  background-color: #fff;
  border-bottom-color: #fff;
}
/* line 702, ../sass/global.styles.scss */
nav#tasks ul.secondary {
  border-bottom: 0.0625em solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
/* line 707, ../sass/global.styles.scss */
nav#tasks ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 0.625em 0 0;
}
/* line 712, ../sass/global.styles.scss */
nav#tasks ul.secondary li a {
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  -khtml-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
/* line 717, ../sass/global.styles.scss */
nav#tasks ul.secondary li a:hover, nav#tasks ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */
/* line 731, ../sass/global.styles.scss */
ul.action-links {
  margin: 1.25em 0 0;
  list-style: none;
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
/* line 744, ../sass/global.styles.scss */
.field-label-inline {
  /* Remove the margin on inline field lables to preserve vertical formatting */
}
/* line 747, ../sass/global.styles.scss */
.field-label-inline .field-label {
  margin: 0;
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
/* line 755, ../sass/global.styles.scss */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
/*
 * Float left setting
 */
/* line 770, ../sass/global.styles.scss */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 0.3125em 1.25em 0.9375em 0;
}

/*
 * Centered setting
 */
/* line 779, ../sass/global.styles.scss */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 0.3125em auto 0.9375em;
}

/*
 * Float right setting
 */
/* line 788, ../sass/global.styles.scss */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 0.3125em 0 0.9375em 1.25em;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
/* line 802, ../sass/global.styles.scss */
.block {
  margin-bottom: 1.25em;
}

/*
 * Block title
 */
/* line 809, ../sass/global.styles.scss */
.block-title {
  margin: 0;
}

/*
 * Match item list and block menu margin and padding
 */
/* line 818, ../sass/global.styles.scss */
.block-content ul,
.block-content ol {
  padding: 0 0 0 0.9375em;
}
/* line 823, ../sass/global.styles.scss */
.block-content li {
  margin: 0;
  padding: 0;
}

/* line 829, ../sass/global.styles.scss */
.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0;
  /* Same as usual h1#page-title margin. */
}

/* line 832, ../sass/global.styles.scss */
.shortcut-wrapper h1#page-title {
  float: left;
  /* LTR */
  margin: 0;
}

/* line 836, ../sass/global.styles.scss */
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}

/* line 839, ../sass/global.styles.scss */
.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em;
}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */
/* line 849, ../sass/global.styles.scss */
.node {
  margin-bottom: 1.25em;
}
/* line 851, ../sass/global.styles.scss */
.node.node-sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 0.0625em solid #d3d7d9;
  padding: 0 0.9375em 0.9375em;
}
/* line 857, ../sass/global.styles.scss */
.node.node-teaser {
  border-bottom: 0.0625em solid #d3d7d9;
  margin-bottom: 1.875em;
  padding-bottom: 0.9375em;
}
/* line 861, ../sass/global.styles.scss */
.node.node-teaser .content {
  clear: none;
  line-height: 1.6;
  font-size: 1em;
}
/* line 866, ../sass/global.styles.scss */
.node.node-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}
/* line 869, ../sass/global.styles.scss */
.node.node-teaser h2 a {
  color: #181818;
}
/* line 874, ../sass/global.styles.scss */
.node.node-full {
  background: none;
  border: none;
  padding: 0;
}
/* line 880, ../sass/global.styles.scss */
.node .node-title {
  margin: 0;
}
/* line 884, ../sass/global.styles.scss */
.node .node-content {
  font-size: 1.071em;
}

/*
 *  Style the links to print, PDF versions to the right
 */
/* line 892, ../sass/global.styles.scss */
nav#link-wrapper {
  clear: both;
  margin: 1em 0;
  padding: 0;
  text-align: right;
}

/* Styles for UAC Responsive polls. */
/* line 4, ../sass/_poll.scss */
#edit-choice .node .poll {
  margin: 0 0 1.5em;
}

/* line 7, ../sass/_poll.scss */
.node .poll {
  margin: 2em 0;
}
/* line 9, ../sass/_poll.scss */
.node .poll .text {
  margin-right: 6.75em;
}

/* line 14, ../sass/_poll.scss */
.poll .vote-form {
  text-align: left;
  /* LTR */
}
/* line 16, ../sass/_poll.scss */
.poll .vote-form .choices {
  margin: 0;
}
/* line 20, ../sass/_poll.scss */
.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  float: right;
  text-align: right;
}
/* line 28, ../sass/_poll.scss */
.poll .text {
  clear: right;
  margin-right: 2.25em;
}
/* line 32, ../sass/_poll.scss */
.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right;
  /* LTR */
  clear: both;
}
/* line 38, ../sass/_poll.scss */
.poll .bar .foreground {
  background-color: #666;
}

/*
 * Styles for UAC Responsive page regions.
 */
/* --------------- Highlighted ---------------- */
/* line 8, ../sass/_region.scss */
#highlighted {
  border-bottom: 0.0625em solid #d3d7d9;
  font-size: 1.2em;
}

/* Content */
/* line 14, ../sass/_region.scss */
#content h2 {
  font-size: 1.429em;
  line-height: 1.4;
  margin-bottom: 0.125em;
}

/*
 * Wraps all header elements - branding and .region-header
 */
/* line 24, ../sass/_region.scss */
#header {
  display: block;
  width: 100%;
  /* Style paragrapghs in the "Header" region */
  /* Style blocks in the "Header" region */
  /* Style forms in the "Header" region */
  /* Style menu blocks in the "Header" region */
  /* Style the User login block in the "Header" region */
  /* Style the search block in the "Header" region. */
  /* Style the Language switcher block in the "Header" region. */
}
/* line 27, ../sass/_region.scss */
#header background {
  color: transparent;
  image: none;
}
/* line 31, ../sass/_region.scss */
#header, #header a, #header li a.active {
  color: #fffeff;
}
/* line 36, ../sass/_region.scss */
#header .without-secondary-menu {
  margin-top: 2.5em;
}
/* line 40, ../sass/_region.scss */
#header p {
  margin: 5px 0;
  width: auto;
}
/* line 45, ../sass/_region.scss */
#header .block {
  font-size: 0.857em;
  float: left;
  /* LTR */
  margin: 5px 0;
  padding: 0;
}
/* line 50, ../sass/_region.scss */
#header .block .content {
  margin: 0;
  padding: 0;
}
/* line 54, ../sass/_region.scss */
#header .block ul {
  margin: 0;
  padding: 0;
}
/* line 58, ../sass/_region.scss */
#header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
/* line 66, ../sass/_region.scss */
#header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 0.125em;
  /* LTR */
  width: 7.5em;
}
/* line 73, ../sass/_region.scss */
#header .form-text:hover, #header .form-text:focus, #header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
/* line 80, ../sass/_region.scss */
#header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}
/* line 86, ../sass/_region.scss */
#header .block-menu {
  border: 0.0625em solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 13em;
}
/* line 93, ../sass/_region.scss */
#header .block-menu li a {
  display: block;
  border-bottom: 0.0625em solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 0.1875em 0.4375em;
}
/* line 99, ../sass/_region.scss */
#header .block-menu li a:hover, #header .block-menu li a:focus, #header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}
/* line 106, ../sass/_region.scss */
#header .block-menu li.last a {
  border-bottom: 0;
}
/* line 113, ../sass/_region.scss */
#header #block-user-login {
  width: auto;
}
/* line 115, ../sass/_region.scss */
#header #block-user-login .content {
  margin-top: 0.125em;
}
/* line 118, ../sass/_region.scss */
#header #block-user-login .form-item {
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 123, ../sass/_region.scss */
#header #block-user-login div.item-list, #header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
/* line 128, ../sass/_region.scss */
#header #block-user-login div.item-list {
  clear: both;
}
/* line 131, ../sass/_region.scss */
#header #block-user-login div.description {
  display: inline;
}
/* line 135, ../sass/_region.scss */
#header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}
/* line 139, ../sass/_region.scss */
#header #block-user-login .item-list li {
  list-style: none;
  float: left;
  /* LTR */
  padding: 0.1875em 0 0.0625em;
}
/* line 144, ../sass/_region.scss */
#header #block-user-login .item-list li.last {
  padding-left: 0.5em;
  /* LTR */
}
/* line 148, ../sass/_region.scss */
#header #block-user-login ul.openid-links li.last {
  padding-left: 0;
  /* LTR */
}
/* line 151, ../sass/_region.scss */
#header #block-user-login .form-actions {
  margin: 0.25em 0 0;
  padding: 0;
  clear: both;
}
/* line 156, ../sass/_region.scss */
#header #block-user-login input.form-submit {
  border: 0.0625em solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 0.25em 0;
  padding: 0.1875em 0.5em;
}
/* line 165, ../sass/_region.scss */
#header #block-user-login input.form-submit:hover, #header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
/* line 171, ../sass/_region.scss */
#header #user-login-form li.openid-link a, #header #user-login li.openid-link a {
  padding-left: 1.25em;
  /* LTR */
}
/* line 177, ../sass/_region.scss */
#header #block-search-form {
  width: 13em;
}
/* line 179, ../sass/_region.scss */
#header #block-search-form .form-text {
  width: 9.625em;
}
/* line 185, ../sass/_region.scss */
#header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}

/*
 * Footer
 */
/* line 194, ../sass/_region.scss */
#footer {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  letter-spacing: 0.2px;
  margin: 1em;
}
/* line 198, ../sass/_region.scss */
#footer a {
  color: rgba(255, 255, 255, 0.8);
}
/* line 201, ../sass/_region.scss */
#footer a:link, #footer a:visited {
  text-decoration: none;
}
/* line 205, ../sass/_region.scss */
#footer .block {
  border: medium none;
  clear: both;
  margin: 0.5em 0;
}
/* line 209, ../sass/_region.scss */
#footer .block .content {
  margin-top: 0;
  padding: 0.5em 0;
}
/* line 213, ../sass/_region.scss */
#footer .block h2 {
  margin: 0;
}
/* line 217, ../sass/_region.scss */
#footer .region {
  margin-top: 1.25em;
}
/* line 220, ../sass/_region.scss */
#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 224, ../sass/_region.scss */
#footer li a {
  float: left;
  /* LTR */
  padding: 0 0.75em;
  display: block;
  border-right: 0.0625em solid #555;
  /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}
/* line 231, ../sass/_region.scss */
#footer li.first a {
  padding-left: 0;
  /* LTR */
}
/* line 234, ../sass/_region.scss */
#footer li.last a {
  padding-right: 0;
  /* LTR */
  border-right: none;
  /* LTR */
}
/* line 239, ../sass/_region.scss */
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork
 * the layout - no margin, padding or borders etc
 */
/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
/*
 * Regions can be nested, such as when using Panels
 */
/* Sponsor ads region, embedded in the #header */
/* Don't show sponsor adds when printing */
@media print {
  /* line 272, ../sass/_region.scss */
  div.region-sponsor-ads {
    display: none !important;
  }
}
/* line 276, ../sass/_region.scss */
div.region-sponsor-ads {
  display: table;
  float: left;
}

/* Style the "Header middle" region */
/* Don't show "Header middle" when printing */
@media print {
  /* line 284, ../sass/_region.scss */
  .region-header-middle {
    display: none !important;
  }
}
/* line 288, ../sass/_region.scss */
.region-header-middle {
  display: table;
  float: left;
}

/* Style the "Help" region,  generally used to output Drupal's
   help block, if the help module is enabled */
/* line 295, ../sass/_region.scss */
.region-help {
  background-color: white;
  border: 0.0625em solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 1.875em;
}

/*
 * Secondary content
 */
/*
 * Sits above the main content header, like a content-top region
 */
/*
 * Sits below the main content, like a content-bottom region
 */
/* Sidebars - targets both */
/* Don't show sidebar when printing */
@media print {
  /* line 323, ../sass/_region.scss */
  div.sidebar {
    display: none !important;
  }
}
/* line 327, ../sass/_region.scss */
.sidebar {
  overflow: hidden;
  padding-bottom: 1.5625em;
}
/* line 330, ../sass/_region.scss */
.sidebar .section {
  padding: 3px !important;
}
/* line 333, ../sass/_region.scss */
.sidebar .block {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 0;
  background-color: #cccccc;
}
/* line 338, ../sass/_region.scss */
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
/* line 343, ../sass/_region.scss */
.sidebar h2 {
  border-top: 2px solid #D6D6D6;
  border-bottom: 1px solid #CCCCCC;
  font-size: 14px;
  line-height: 1.2;
  margin: 0 0 0.5em;
  padding: 5px 0;
  text-shadow: 0 1px 0 #fff;
}

/*
 * Sidebars
 */
/* line 359, ../sass/_region.scss */
.region-sidebar-first,
.region-sidebar-second {
  background-color: #CCCCCC;
  min-width: 11em;
  display: inline;
  position: relative;
}

/*
 * Tertiary content
 */
/*
 * Footer region
 */
/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
/* line 911, ../sass/global.styles.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 0.0625em solid #c00;
}
/* line 917, ../sass/global.styles.scss */
.form-item label {
  font-weight: 700;
}
/* line 924, ../sass/global.styles.scss */
.form-item .description {
  font-size: 0.85em;
}

/*
 * Highlight marks and form required mark
 */
/* line 937, ../sass/global.styles.scss */
.marker,
.form-required {
  color: #c00;
}

/* ---------------- Buttons    ---------------- */
/* line 945, ../sass/global.styles.scss */
input.form-submit,
a.button {
  background: #fff url(../img/buttons.png) 0 0 repeat-x;
  border: 0.0625em solid #e4e4e4;
  border-bottom: 0.0625em solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  /* LTR */
  padding: 0.25em 1.0625em;
  -khtml-border-radius: 0.9375em;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 0.9375em;
  border-radius: 0.9375em;
}

/* line 965, ../sass/global.styles.scss */
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

/* line 974, ../sass/global.styles.scss */
.description code {
  font-size: 1em;
}

/*
 * Tips for Drupal's input formats
 */
/* =============================================================================
 *   Messages
 * ========================================================================== */
/* line 990, ../sass/global.styles.scss */
div.messages {
  margin-bottom: 0.625em;
  margin-top: 0.625em;
}
/* line 995, ../sass/global.styles.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * Unpublished nodes
 */
/* line 1037, ../sass/global.styles.scss */
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 3.125em;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
/* line 185, ../sass/_custom.scss */
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
/* line 1048, ../sass/global.styles.scss */
.maintenance-page .container {
  padding: 2.5em 0;
}
/* line 1052, ../sass/global.styles.scss */
.maintenance-page #page-title {
  margin: 0;
}

/* line 1059, ../sass/global.styles.scss */
.db-offline .container {
  margin: 0 auto;
  padding: 2.5em 0;
  width: 100%;
  max-width: 60em;
}
/* line 1066, ../sass/global.styles.scss */
.db-offline div.messages {
  margin: 1.25em 0 0;
}
/* line 1070, ../sass/global.styles.scss */
.db-offline #content {
  padding: 1.25em 0;
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */
/* line 1083, ../sass/global.styles.scss */
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
/* line 1092, ../sass/global.styles.scss */
.dev-query {
  background: #eee;
  padding: 1.875em;
}

/* ------------------ List Styles ------------------ */
/* line 1100, ../sass/global.styles.scss */
.contextual-links-wrapper {
  font-size: small !important;
}

/* line 1103, ../sass/global.styles.scss */
ul.contextual-links {
  font-size: 0.923em;
}

/* line 1106, ../sass/global.styles.scss */
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}

/* line 1109, ../sass/global.styles.scss */
ul.menu li {
  margin: 0;
}

/* item list */
/* line 1114, ../sass/global.styles.scss */
.item-list ul,
.item-list ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em;
  /* LTR */
}
/* line 1118, ../sass/global.styles.scss */
.item-list ul li,
.item-list ol li {
  margin: 0;
  padding: 0.2em 0.5em 0 0;
  /* LTR */
}
/* line 1122, ../sass/global.styles.scss */
.item-list ul .pager,
.item-list ol .pager {
  font-size: 0.929em;
}

/* line 1127, ../sass/global.styles.scss */
ul.tips {
  padding: 0 0 0 1.25em;
  /* LTR */
}

/* ----------------- Content ------------------ */
/* line 1133, ../sass/global.styles.scss */
.content {
  margin-top: 0.625em;
}

/* line 1136, ../sass/global.styles.scss */
.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -0.3125em;
}

/* line 1142, ../sass/global.styles.scss */
.node-unpublished {
  margin: -1.25em -0.9375em 0;
  padding: 1.25em 0.9375em 0;
}

/* line 1146, ../sass/global.styles.scss */
.node-unpublished .comment-text .comment-arrow {
  border-left: 0.0625em solid #fff4f4;
  border-right: 0.0625em solid #fff4f4;
}

/* line 1151, ../sass/global.styles.scss */
ul.action-links {
  list-style: none;
  margin: 0.3125em;
  padding: 0.5em 1em;
}

/* line 1156, ../sass/global.styles.scss */
ul.action-links li {
  display: inline-block;
  margin-left: 0.625em;
}

/* line 1160, ../sass/global.styles.scss */
ul.action-links li a {
  padding-left: 0.9375em;
  background: url(../img/add.png) no-repeat left center;
  margin: 0 0.625em 0 0;
}

/* ---------------- Messages  ----------------- */
/* line 1168, ../sass/global.styles.scss */
#messages {
  padding: 1.25em 0 0.3125em;
  margin: 0 auto;
}

/* line 1172, ../sass/global.styles.scss */
.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}

/* line 1176, ../sass/global.styles.scss */
div.messages {
  margin: 0.5em 0.9375em;
}

/* -------------- Form Elements   ------------- */
/* line 1183, ../sass/global.styles.scss */
.fieldset-wrapper {
  margin-top: 1.5625em;
}

/* line 1186, ../sass/global.styles.scss */
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}

/* line 1189, ../sass/global.styles.scss */
.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 1201, ../sass/global.styles.scss */
.filter-help a {
  font-size: 0.857em;
  padding: 0.125em 1.25em 0;
}

/* line 1205, ../sass/global.styles.scss */
.filter-wrapper .form-item label {
  margin-right: 0.625em;
}

/* line 1208, ../sass/global.styles.scss */
.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}

/* line 1211, ../sass/global.styles.scss */
.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}

/* line 1214, ../sass/global.styles.scss */
fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 1221, ../sass/global.styles.scss */
fieldset.collapsed legend {
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 1227, ../sass/global.styles.scss */
fieldset .fieldset-wrapper {
  padding: 0 0.625em;
}

/* line 1230, ../sass/global.styles.scss */
fieldset .fieldset-description {
  margin-top: 0.3125em;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}

/* line 1237, ../sass/global.styles.scss */
textarea.form-textarea,
select.form-select {
  padding: 0.25em;
}

/* line 1241, ../sass/global.styles.scss */
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 0.0625em solid #ccc;
}

/* line 1246, ../sass/global.styles.scss */
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}

/* line 1250, ../sass/global.styles.scss */
.form-item {
  margin-bottom: 1em;
  margin-top: 0.125em;
}

/* line 1254, ../sass/global.styles.scss */
.form-item label {
  font-size: 0.929em;
}

/* line 1257, ../sass/global.styles.scss */
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 0.25em;
}

/* line 1261, ../sass/global.styles.scss */
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0.125em;
}

/* line 1265, ../sass/global.styles.scss */
.form-actions {
  padding-top: 0.625em;
}

/* Disabled form elements */
/* line 1270, ../sass/global.styles.scss */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}

/* line 1281, ../sass/global.styles.scss */
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}

/* line 1285, ../sass/global.styles.scss */
.form-disabled label {
  color: #717171;
}

/* line 1288, ../sass/global.styles.scss */
#edit-actions input {
  margin-right: 0.6em;
  /* LTR */
}

/* Social buttons */
/* Don't show social buttons on print media */
@media print {
  /* line 1296, ../sass/global.styles.scss */
  nav.social-buttons {
    display: none;
  }
}
/* line 1301, ../sass/global.styles.scss */
nav.social-buttons {
  margin: 1em;
}

@media print {
  /* line 1306, ../sass/global.styles.scss */
  #environment-indicator,
  #announcement-row,
  #general-announcements-row {
    display: none !important;
  }
}
/* line 1313, ../sass/global.styles.scss */
div#field-overall-rose-add-more-wrapper {
  display: none;
}

/* line 1315, ../sass/global.styles.scss */
.darkbg {
  background-color: #444;
}

/* line 1317, ../sass/global.styles.scss */
.clearbg {
  background-color: transparent;
}

/*
 * Styles for the UAC Responsive Advisory content type.
 */
/* Override the usual title */
/* line 8, ../sass/_advisory.scss */
body.page-advisory h1#page-title {
  display: none;
}
/* line 11, ../sass/_advisory.scss */
body.page-advisory h1.node-title {
  line-height: 1.5;
  display: table;
  padding: 9px;
  margin-top: 0.5em;
  margin-left: -24px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen {
  /* line 11, ../sass/_advisory.scss */
  body.page-advisory h1.node-title {
    background-color: #444;
    color: #eee;
  }
}
@media screen {
  /* line 23, ../sass/_advisory.scss */
  body.page-advisory h1.node-title a {
    color: #eee;
  }
}
@media print {
  /* line 23, ../sass/_advisory.scss */
  body.page-advisory h1.node-title a {
    color: black;
  }
}
/* line 30, ../sass/_advisory.scss */
body.page-advisory h1.node-title a:hover {
  text-decoration: none;
}
/* line 35, ../sass/_advisory.scss */
body.page-advisory footer.submitted {
  display: table;
}
@media screen {
  /* line 35, ../sass/_advisory.scss */
  body.page-advisory footer.submitted {
    background-color: #7d7d7d;
    color: white;
  }
}
/* line 41, ../sass/_advisory.scss */
body.page-advisory footer.submitted p {
  margin: 0.5em 1em;
}
/* line 43, ../sass/_advisory.scss */
body.page-advisory footer.submitted p a {
  color: white;
}
/* line 48, ../sass/_advisory.scss */
body.page-advisory #content div.node-content > h2.advisory-heading {
  display: none;
}

/* All advisory rows */
/* line 54, ../sass/_advisory.scss */
div.advisory-row {
  display: table;
  margin-bottom: 11px;
  padding: 5px;
}
@media screen {
  /* line 54, ../sass/_advisory.scss */
  div.advisory-row {
    border: 1px solid #ddd;
  }
}
/* line 61, ../sass/_advisory.scss */
div.advisory-row img.advisory-row-heading {
  max-width: 140px;
  float: left;
  margin: 0 1em 0.5em 0;
}

/* All advisory headings */
/* line 69, ../sass/_advisory.scss */
#content h2.advisory-heading {
  padding: 7px;
  line-height: 1.5;
  margin: 0 0 0 -24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  display: table;
}
@media screen {
  /* line 69, ../sass/_advisory.scss */
  #content h2.advisory-heading {
    color: #eee;
    background-color: #444;
  }
}

/* line 83, ../sass/_advisory.scss */
#content h3.advisory-heading {
  font-size: 1.12em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

@media print {
  /* line 90, ../sass/_advisory.scss */
  a[href*="tutorial"],
  img.info {
    display: none !important;
  }
}
/* line 96, ../sass/_advisory.scss */
img.info {
  max-width: 24px;
}

/* line 99, ../sass/_advisory.scss */
img.danger-rose-info {
  /*
   * The icon to click for the danger rose tutorial is always in the
   * upper left corner of the rose and in front of the rose so that
   * the link assigned to the icon is always exposed.
   */
  max-width: 24px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
}

/* Current danger rose for this geographic region */
/* line 113, ../sass/_advisory.scss */
#advisory-problem-rose {
  border: 0 none;
  float: left;
  position: relative;
}
/* line 118, ../sass/_advisory.scss */
#advisory-problem-rose img.danger-rose {
  /*
   * The size of the rose should be adjusted by the browser to fit into
   * the viewport, with a maximum width on large screens.
   */
  max-width: 245px;
}

/* Instructions how to interpret the danger ratings */
/* line 129, ../sass/_advisory.scss */
#advisory-danger-scale {
  clear: both;
}

/* Sponsor ads row */
/* line 134, ../sass/_advisory.scss */
#sponsor-row {
  display: block;
}

/* Avalanche Problem advisory row(s) */
/* line 139, ../sass/_advisory.scss */
div.avy-prob-table {
  display: table;
  margin-top: 0.5em;
}

/* Heading of each problem section */
/* line 145, ../sass/_advisory.scss */
div.avy-prob-heading-wrapper {
  display: table-row;
}
@media screen {
  /* line 145, ../sass/_advisory.scss */
  div.avy-prob-heading-wrapper {
    border-bottom: 1px solid #ddd;
  }
}

/* line 151, ../sass/_advisory.scss */
div.avy-prob-heading {
  display: table-cell;
  padding: 0 1em;
  margin: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
}
@media screen {
  /* line 151, ../sass/_advisory.scss */
  div.avy-prob-heading {
    color: white;
    background-color: #7d7d7d;
  }
}

/* Problem type */
/* line 166, ../sass/_advisory.scss */
div.avy-prob-type {
  display: table;
  float: left;
}
@media screen {
  /* line 166, ../sass/_advisory.scss */
  div.avy-prob-type {
    border-right: 1px solid #eee;
  }
}

/* line 173, ../sass/_advisory.scss */
div.avy-prob-type-inner {
  position: relative;
  margin: 1em;
}
/* line 176, ../sass/_advisory.scss */
div.avy-prob-type-inner img.problem-type {
  max-width: 90px;
  padding-left: 30px;
}
/* line 181, ../sass/_advisory.scss */
div.avy-prob-type-inner img.info {
  max-width: 24px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
}

/* Problem aspect/elevation */
/* line 191, ../sass/_advisory.scss */
div.avy-prob-aspect-elev {
  display: table;
  float: left;
}
@media screen {
  /* line 191, ../sass/_advisory.scss */
  div.avy-prob-aspect-elev {
    border-right: 1px solid #eee;
  }
}

/* line 198, ../sass/_advisory.scss */
div.avy-prob-aspect-elev-cell {
  text-align: center;
}

/* line 201, ../sass/_advisory.scss */
div.avy-prob-aspect-elev-inner {
  position: relative;
  margin: 2em 0.5em;
}
/* line 204, ../sass/_advisory.scss */
div.avy-prob-aspect-elev-inner img.problem-rose {
  /*
   * The size of the rose should be adjusted by the browser to fit into
   * the viewport, with a maximum width on large screens.
   */
  max-width: 145px;
}

/* Problem characteristics */
/* line 214, ../sass/_advisory.scss */
div.avy-prob-char {
  display: table;
  float: left;
}

/* line 218, ../sass/_advisory.scss */
div.avy-prob-char-header {
  display: table;
  font-size: 1.12em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

/* Problem characteristics likelihood */
/* line 228, ../sass/_advisory.scss */
div.avy-prob-char-likely-cell {
  display: table;
  float: left;
}

/* line 233, ../sass/_advisory.scss */
div.avy-prob-char-likely-inner {
  margin: 0.5em;
}

/* line 237, ../sass/_advisory.scss */
div.avy-prob-char-likely-image-wrapper {
  position: relative;
  padding-right: 80px;
  padding-left: 30px;
}
/* line 243, ../sass/_advisory.scss */
div.avy-prob-char-likely-image-wrapper img.info {
  max-width: 24px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
}

/* line 251, ../sass/_advisory.scss */
div.avy-prob-text-likely {
  position: absolute;
  top: 0;
  left: 90px;
  font-weight: bold;
}

/* line 257, ../sass/_advisory.scss */
div.avy-prob-text-unlikely {
  position: absolute;
  top: 73px;
  left: 90px;
  font-weight: bold;
}

/* Problem characreristics size */
/* line 265, ../sass/_advisory.scss */
div.avy-prob-char-size-cell {
  display: table;
  float: left;
}

/* line 270, ../sass/_advisory.scss */
div.avy-prob-char-size-inner {
  margin: 0.5em;
}

/* line 274, ../sass/_advisory.scss */
div.avy-prob-char-size-image-wrapper {
  position: relative;
  padding-right: 60px;
}

/* line 279, ../sass/_advisory.scss */
div.avy-prob-text-large {
  position: absolute;
  top: 0;
  left: 60px;
  font-weight: bold;
}

/* line 285, ../sass/_advisory.scss */
div.avy-prob-text-small {
  position: absolute;
  top: 73px;
  left: 60px;
  font-weight: bold;
}

/* Problem characteristics trend */
/* line 293, ../sass/_advisory.scss */
div.avy-prob-char-trend-cell {
  display: table;
  float: left;
}

/* line 298, ../sass/_advisory.scss */
div.avy-prob-char-trend-inner {
  margin: 0.5em;
}

/* line 302, ../sass/_advisory.scss */
div.avy-prob-char-trend-image-wrapper {
  position: relative;
  padding-right: 2em;
}

/* line 307, ../sass/_advisory.scss */
div.avy-prob-text-increasing {
  position: absolute;
  top: 0;
  left: 60px;
  font-weight: bold;
}

/* line 313, ../sass/_advisory.scss */
div.avy-prob-text-same {
  position: absolute;
  top: 30px;
  left: 60px;
  font-weight: bold;
}

/* line 319, ../sass/_advisory.scss */
div.avy-prob-text-decreasing {
  position: absolute;
  top: 60px;
  left: 60px;
  font-weight: bold;
}

/* line 325, ../sass/_advisory.scss */
span.avy-prob-text-duration {
  padding: 0.3125em;
  font-style: italic;
  text-align: center;
  color: #777;
  text-transform: uppercase;
}

/* line 333, ../sass/_advisory.scss */
div.advisory .darkbg h3 {
  color: #eee;
  text-transform: uppercase;
  font-size: 1.0625em;
  padding: 0.4375em;
  margin: 0.1875em;
}

/* line 341, ../sass/_advisory.scss */
div#upper-rating-text,
div#mid-rating-text,
div#lower-rating-text {
  color: #ddd;
  height: 3.4375em;
  width: 15.625em;
  z-index: 12;
  float: left;
  position: absolute;
  line-height: 1.25em;
  left: 37.5em;
}

/* line 354, ../sass/_advisory.scss */
div#upper-rating-text {
  top: 5.625em;
}

/* line 355, ../sass/_advisory.scss */
div#mid-rating-text {
  top: 9.375em;
}

/* line 356, ../sass/_advisory.scss */
div#lower-rating-text {
  top: 13.25em;
}

/* line 358, ../sass/_advisory.scss */
table#avalanche-danger-scale {
  margin: 0.625em auto;
  border: 0 solid #000;
  padding-bottom: 0.625em;
  width: 40.625em;
}

/* Styling for CiviCRM */
/* line 4, ../sass/_civicrm.scss */
div.crm-section label {
  padding-left: 0.3125em;
}

/* line 6, ../sass/_civicrm.scss */
table#crm-tagGroupTable td {
  padding: 0.8125em;
}
/* line 8, ../sass/_civicrm.scss */
table#crm-tagGroupTable td label {
  font-size: 0.8125em;
}

/* Styles for the UAC Responsive Event content type */
/* line 7, ../sass/_event.scss */
article.node-event {
  font-size: 1.15em;
  line-height: 1.25em;
}
/* line 10, ../sass/_event.scss */
article.node-event div.field-name-field-date-time-1 {
  clear: right;
  float: left;
  font-weight: bold;
  width: 100%;
  border-bottom: 0.125em solid #555;
  padding-left: 0.3125em;
}
/* line 18, ../sass/_event.scss */
article.node-event div.field-name-body div.field-items {
  border-bottom: 0.125em solid #555555;
}

/* line 28, ../sass/_event.scss */
div.node-event div.field-name-field-event-venue div.field-items,
div.node-uac-paid-event div.field-name-field-event-venue div.field-items {
  padding: 0 !important;
}

/* line 33, ../sass/_event.scss */
div.field-name-field-event-venue h2 {
  font-size: 1em !important;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* line 40, ../sass/_event.scss */
div.field-name-field-event-venue div {
  font-size: 1em !important;
}

/* div.node-uac-paid-event div.field-name-uc-product-image { */
/* line 45, ../sass/_event.scss */
div.node-uac-paid-event div.field-name-field-event-venue {
  padding-top: 0.9375em;
  border-top: 0.125em solid #555;
  clear: right;
  padding-bottom: 1.5625em;
}

/* line 53, ../sass/_event.scss */
body.node-type-event div.field-name-field-event-venue {
  float: left;
  clear: right;
  padding-top: 0.9375em;
}

/* line 59, ../sass/_event.scss */
body.node-type-event div.field-name-field-event-venue span.print-link {
  display: none;
}

/*
 * Styles for UAC Responsive views.
 */
/* Style the UAC Responsive Events view unformatted list views format */
/* line 8, ../sass/_views.scss */
div.view-events div.view-content {
  display: table;
  border-collapse: collapse;
}
/* line 11, ../sass/_views.scss */
div.view-events div.view-content div.views-row {
  display: table-row;
  border: 1px solid #ccc;
}
/* line 14, ../sass/_views.scss */
div.view-events div.view-content div.views-row div#event-col-1 {
  display: table-cell;
  padding: 0.5em 0.5em 0.5em 1em;
  width: 39%;
  border-right: 1px solid #ccc;
}
/* line 20, ../sass/_views.scss */
div.view-events div.view-content div.views-row div#event-col-2 {
  display: table-cell;
  width: 59%;
  padding: 0.5em 0.5em 0.5em 1em;
}
/* line 25, ../sass/_views.scss */
div.view-events div.view-content div.views-row div#title, div.view-events div.view-content div.views-row div#month-day {
  font-size: 1.4em;
  font-weight: bold;
}
/* line 30, ../sass/_views.scss */
div.view-events div.view-content div.views-row div#time {
  font-size: 1.2em;
  color: #aaa;
}
/* line 34, ../sass/_views.scss */
div.view-events div.view-content div.views-row div#venue-name {
  margin-top: 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}
/* line 40, ../sass/_views.scss */
div.view-events div.view-content div.views-row div#venue-city-state-zip, div.view-events div.view-content div.views-row div#venue-phone, div.view-events div.view-content div.views-row div#venue-street {
  font-size: 0.75em;
}
/* line 45, ../sass/_views.scss */
div.view-events div.view-content div.views-row div#venue-url {
  margin-top: 0.625em;
  word-break: break-all;
}
/* line 48, ../sass/_views.scss */
div.view-events div.view-content div.views-row div#venue-url a {
  word-break: break-all;
  color: red;
}

/* Style the UAC Responsive views calendar pager */
/* line 59, ../sass/_views.scss */
div.view-header .date-nav-wrapper {
  border: 1px solid #ccc;
  height: 36px;
  margin: 5px 0 10px 0;
  padding: 0;
}
/* line 64, ../sass/_views.scss */
div.view-header .date-nav-wrapper .date-nav {
  height: 36px;
  margin: 0;
  padding: 0;
}
/* line 70, ../sass/_views.scss */
div.view-header .date-nav-wrapper .date-nav .date-heading a.uac_responsive-date-prev {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
/* line 76, ../sass/_views.scss */
div.view-header .date-nav-wrapper .date-nav .date-heading a.uac_responsive-date-prev img {
  margin: 0;
  padding: 0;
  height: 36px;
  width: 36px;
}
/* line 83, ../sass/_views.scss */
div.view-header .date-nav-wrapper .date-nav .date-heading span.date-title {
  display: inline-block;
  vertical-align: middle;
  line-height: 36px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 95, ../sass/_views.scss */
div.view-header .date-nav-wrapper .date-nav .date-heading a.uac_responsive-date-next {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
/* line 101, ../sass/_views.scss */
div.view-header .date-nav-wrapper .date-nav .date-heading a.uac_responsive-date-next img {
  margin: 0;
  padding: 0;
  height: 36px;
  width: 36px;
}

/* Style the UAC Avalanche Classes grid view */
/* line 117, ../sass/_views.scss */
body.page-avalanche-classes div.view-avalanche-classes table.views-view-grid caption {
  font-weight: bold;
  font-size: 1.75em;
  margin-left: 0.9375em;
}
/* line 122, ../sass/_views.scss */
body.page-avalanche-classes div.view-avalanche-classes table.views-view-grid td {
  font-size: 1.75em;
  font-weight: bold;
  padding: 1.25em 0.9375em;
  border: 0.9375em solid #fff;
  vertical-align: top;
}
/* line 130, ../sass/_views.scss */
body.page-avalanche-classes div.view-avalanche-classes div.view-header {
  padding: 1.25em 1.25em 0;
  border: 0.0625em solid #ccc;
}

/* Style the Avalanche Classes Admin view */
/* line 139, ../sass/_views.scss */
div.field-name-field-instructors .field-collection-view {
  border: 0 solid #000;
  padding: 0.125em;
}
/* line 142, ../sass/_views.scss */
div.field-name-field-instructors .field-collection-view .field-label {
  width: auto;
}

/* Style the Header Announcement view */
/* line 148, ../sass/_views.scss */
#block-views-header-announcement-block {
  color: white;
  overflow: hidden;
  padding: 0.0625em;
  position: relative;
  text-shadow: 0.125em 0.125em black;
  top: 0.1875em;
  max-width: 33.125em;
}
/* line 156, ../sass/_views.scss */
#block-views-header-announcement-block a {
  color: #a3d6ff;
}

/* Style the sponsor ads view.  Since it's a slideshow we have to explictly
   give it the size of the largest image.  Don't show on print. */
@media print {
  /* line 164, ../sass/_views.scss */
  #sponsor-row {
    display: none !important;
  }
}
/* line 169, ../sass/_views.scss */
#block-views-spad-block-1 {
  width: 163px;
  height: 100px;
}

/* Style the blog view */
/* line 176, ../sass/_views.scss */
div.view-blog span.views-field-title {
  font-size: 1.1875em;
}

/*
 * Style the UAC Responsive front page
 */
/* Special styling for the front page */
/* line 8, ../sass/_front.scss */
body.front div.region-sidebar-first {
  background-color: #444;
  color: #eee;
  font-size: 15px;
}
/* line 12, ../sass/_front.scss */
body.front div.region-sidebar-first div, body.front div.region-sidebar-first section, body.front div.region-sidebar-first nav {
  background-color: #444;
  border: 0;
}
/* line 15, ../sass/_front.scss */
body.front div.region-sidebar-first div h2, body.front div.region-sidebar-first section h2, body.front div.region-sidebar-first nav h2 {
  border: 0;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 21, ../sass/_front.scss */
body.front div.region-sidebar-first div.block, body.front div.region-sidebar-first section.block, body.front div.region-sidebar-first nav.block {
  border: 0;
}

@media only screen and (min-width: 900px) {
  /* line 30, ../sass/_front.scss */
  body.front div.region-sidebar-first {
    width: 50%;
  }
  /* line 33, ../sass/_front.scss */
  body.front div.content-inner {
    margin-left: 50%;
  }
}
/* Style the state map and the overlays for forecast regions */
/* line 40, ../sass/_front.scss */
div#regionmap-wrapper {
  position: relative;
  display: table;
  color: #eee;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 47, ../sass/_front.scss */
div#regionmap-wrapper img {
  border: 0;
  margin: 0;
  padding: 0;
  /* Map of Utah */
  /* Image that overlays a region with an overall danger rating. */
}
/* line 52, ../sass/_front.scss */
div#regionmap-wrapper img#utah-map {
  display: block;
}
/* line 56, ../sass/_front.scss */
div#regionmap-wrapper img.danger-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

/* Position the instructions directly above the state map. */
/* line 65, ../sass/_front.scss */
figure#regionmap-figure {
  display: table;
  background-color: #444;
  border: 1px solid #444;
  padding: 0;
  color: #eee;
}
/* line 71, ../sass/_front.scss */
figure#regionmap-figure figcaption {
  background-color: #444;
  display: table-caption;
  padding: 5px;
  line-height: 11px;
  font-size: 11px;
}
/* line 77, ../sass/_front.scss */
figure#regionmap-figure figcaption h2 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
/* line 84, ../sass/_front.scss */
figure#regionmap-figure figcaption p {
  margin: 0;
  padding: 0;
}

/* Style the region danger summary tooltip shown on hover.  Each tooltip
   has a fixed position on the map that depends on the region.           */
/* line 93, ../sass/_front.scss */
div.danger-rating-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  opacity: 0.85;
  width: 356px;
  /* Line of text at the top with region name and date rated. */
  /* Danger rating */
  /* Scale at the bottom with the five values of the danger rating. */
  /* Make tooltip visible by adding this class to it. */
}
/* line 102, ../sass/_front.scss */
div.danger-rating-tooltip h3, div.danger-rating-tooltip div {
  margin: 0;
}
/* line 106, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-region {
  font-size: 11px;
  font-weight: bold;
  color: white;
  padding: 5px 0 4px 8px;
  width: 340px;
}
/* line 112, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-region span.name {
  float: left;
}
/* line 115, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-region span.updated {
  float: right;
  font-weight: normal;
}
/* line 121, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-class {
  text-align: center;
  margin-top: 20px;
}
/* line 124, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-class span {
  display: inline-block;
  padding: 5px;
  width: 330px;
  border: 2px solid #fff;
  color: #000;
  font-weight: bold;
}
/* line 131, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-class span.class-0 {
  background-color: #777;
}
/* line 134, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-class span.class-1 {
  background-color: #00cc00;
}
/* line 137, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-class span.class-2 {
  background-color: #ffff33;
}
/* line 140, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-class span.class-3 {
  background-color: #ffaa33;
}
/* line 143, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-class span.class-4 {
  background-color: #cc0000;
}
/* line 146, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-class span.class-5 {
  background-color: #000;
  color: #fff;
}
/* line 151, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-data {
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 155, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-data img {
  margin-left: 8px;
  width: 100px;
  height: auto;
}
/* line 160, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-rating-data div.text {
  color: #fff;
  width: 225px;
  line-height: 1.2em;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  font-size: 13px;
}
/* line 173, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-scale {
  background-image: url("../img/dr/danger-scale-small.png");
  background-repeat: no-repeat;
  height: 19px;
  /* Superimposed on the danger scale, an inidcator of current rating. */
}
/* line 178, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-scale img {
  float: left;
}
/* line 180, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-scale img.indicator-0 {
  display: none;
}
/* line 183, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-scale img.indicator-1 {
  padding-left: 25px;
}
/* line 186, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-scale img.indicator-2 {
  padding-left: 95px;
}
/* line 189, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-scale img.indicator-3 {
  padding-left: 175px;
}
/* line 192, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-scale img.indicator-4 {
  padding-left: 250px;
}
/* line 195, ../sass/_front.scss */
div.danger-rating-tooltip div.danger-scale img.indicator-5 {
  padding-left: 315px;
}
/* line 201, ../sass/_front.scss */
div.danger-rating-tooltip.visible {
  visibility: visible;
}

/*
 * Styles for UAC Responsive Ubercart module.
 */
/* line 6, ../sass/_ubercart.scss */
#uc-cart-view-form th {
  display: none;
}

/* line 10, ../sass/_ubercart.scss */
div.uc_out_of_stock_throbbing {
  float: left;
  margin-right: 0.625em;
  margin-left: 0.625em;
  margin-top: 0.5em;
}

/* line 17, ../sass/_ubercart.scss */
input.node-add-to-cart {
  font-size: 1.25em;
}

/* line 21, ../sass/_ubercart.scss */
td.qty {
  display: none;
}

/* line 22, ../sass/_ubercart.scss */
.qty {
  display: none;
}
