/* =============================================================================
 * Main menu handled by nice_menus.  Styles for uac_responsive theme.
 * ===========================================================================*/
@font-face {
  font-family: 'OstrichSansBlack';
  src: url("/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.eot");
  src: url("/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.woff") format("woff"), url("/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.ttf") format("truetype"), url("/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.svg#OstrichSansBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 28, ../sass/nice_menus.scss */
#main-menu ul.nice-menu {
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  z-index: 50;
}
/* line 35, ../sass/nice_menus.scss */
#main-menu ul.nice-menu ul {
  list-style: none;
  padding: 0;
  border: 0;
  margin: 0;
  text-align: left;
  z-index: 50;
}
/* line 42, ../sass/nice_menus.scss */
#main-menu ul.nice-menu ul li {
  display: block;
}
/* line 46, ../sass/nice_menus.scss */
#main-menu ul.nice-menu li {
  border: 0 none;
  margin: 0;
  padding-left: 0;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-image: none;
}
/* line 55, ../sass/nice_menus.scss */
#main-menu ul.nice-menu li a {
  font-family: OstrichSansBlack;
  font-size: 17px;
  text-transform: uppercase;
  padding: 5px;
  margin: 3px;
  color: #eee;
}
/* line 64, ../sass/nice_menus.scss */
#main-menu ul.nice-menu li a:hover {
  color: #ce4141;
}
/* line 72, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down {
  float: left;
  border: 0;
  left: 0;
  padding-left: 0.3125em;
}
/* line 77, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down li {
  border: 0 none;
  position: relative;
  display: inline-block;
  background-color: #333;
}
/* line 83, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down li ul li ul {
  left: 10em;
  top: 0;
}
/* line 88, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down li.menuparent {
  background: transparent right center no-repeat;
}
/* line 90, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down li.menuparent ul {
  left: auto;
  width: auto;
}
/* line 95, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down li li {
  border-top: 0;
  margin: 0;
  padding: 0 0.3125em 0 0.1875em;
}
/* line 99, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down li li.menuparent {
  background-color: #333;
}
/* line 102, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down li li a {
  padding: 0.3125em;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
/* line 112, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down > li a[href*="contribute"] {
  background-color: #ce4141;
  color: #eee;
}
/* line 115, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down > li a[href*="contribute"] a:hover {
  color: #eee;
}
/* line 120, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down ul li {
  clear: both;
  width: auto;
}
/* line 124, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down ul ul {
  margin-left: 10em;
}
/* line 128, ../sass/nice_menus.scss */
#main-menu ul.nice-menu-down .menuparent a {
  white-space: nowrap;
}
