/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small touch devices */
/* line 16, ../sass/responsive.smalltouch.portrait.scss */
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* line 26, ../sass/responsive.smalltouch.portrait.scss */
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
/* line 28, ../sass/responsive.smalltouch.portrait.scss */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 0.3125em;
}
/* line 31, ../sass/responsive.smalltouch.portrait.scss */
.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 0.125em solid #ccc;
  padding: 0.125em 0.625em;
}
/* line 39, ../sass/responsive.smalltouch.portrait.scss */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 0.0625em solid #fff;
}
