// -*- mode: Sass; -*-
/*
 * Styles for the UAC Responsive Advisory content type.
 */

/* Override the usual title */
body.page-advisory {
  & h1#page-title {
    display: none;
  }
  & h1.node-title {
    line-height: 1.5;
    @media screen {
      background-color: #444;
      color: #eee;
    }
    display: table;
    padding: 9px;
    margin-top: 0.5em;
    margin-left: -24px;
    font-weight: bold;
    text-transform: uppercase;
    & a {
      @media screen {
        color: #eee;
      }
      @media print {
        color: black;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  & footer.submitted {
    @media screen {
      background-color: #7d7d7d;
      color: white;
    }
    display: table;
    & p {
      margin: 0.5em 1em;
      & a {
        color: white;
      }
    }
  }
  & #content div.node-content > h2.advisory-heading {
    display: none;
  }
}

/* All advisory rows */
div.advisory-row {
  display: table;
  @media screen {
    border: 1px solid #ddd;
  }
  margin-bottom: 11px;
  padding: 5px;
  & img.advisory-row-heading {
    max-width: 140px;
    float: left;
    margin: 0 1em 0.5em 0;
  }
}

/* All advisory headings */
#content h2.advisory-heading {
  @media screen {
    color: #eee;
    background-color: #444;
  }
  padding: 7px;
  line-height: 1.5;
  margin: 0 0 0 -24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  display: table;
}

#content h3.advisory-heading {
    font-size: 1.12em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
}
@media print {
  a[href*="tutorial"],
  img.info {
    display: none !important;
  }
}

img.info {
  max-width: 24px;
}
img.danger-rose-info {
  /*
   * The icon to click for the danger rose tutorial is always in the
   * upper left corner of the rose and in front of the rose so that
   * the link assigned to the icon is always exposed.
   */
  max-width: 24px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
}

 /* Current danger rose for this geographic region */
#advisory-problem-rose {
  border: 0 none;
  float: left;
  position: relative;

  & img.danger-rose {
    /*
     * The size of the rose should be adjusted by the browser to fit into
     * the viewport, with a maximum width on large screens.
     */
    max-width: 245px;
  }
}


/* Instructions how to interpret the danger ratings */
#advisory-danger-scale {
  clear: both;
}

/* Sponsor ads row */
#sponsor-row {
  display: block;
}

/* Avalanche Problem advisory row(s) */
div.avy-prob-table {
  display: table;
  margin-top: 0.5em;
}

/* Heading of each problem section */
div.avy-prob-heading-wrapper {
  display: table-row;
  @media screen {
    border-bottom: 1px solid #ddd;
  }
}
div.avy-prob-heading {
  display: table-cell;
  padding: 0 1em;
  margin: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
  @media screen {
    color: white;
    background-color: #7d7d7d;
  }
}

/* Problem type */
div.avy-prob-type {
  display: table;
  float: left;
  @media screen {
    border-right: 1px solid #eee;
  }
}
div.avy-prob-type-inner {
  position: relative;
  margin: 1em;
  & img.problem-type {
    max-width: 90px;
    padding-left: 30px;
  }

  & img.info {
    max-width: 24px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 3;
  }
}

/* Problem aspect/elevation */
div.avy-prob-aspect-elev {
  display: table;
  float: left;
  @media screen {
    border-right: 1px solid #eee;
  }
}
div.avy-prob-aspect-elev-cell {
  text-align: center;
}
div.avy-prob-aspect-elev-inner {
  position: relative;
  margin: 2em 0.5em;
  & img.problem-rose {
    /*
     * The size of the rose should be adjusted by the browser to fit into
     * the viewport, with a maximum width on large screens.
     */
    max-width: 145px;
  }
}

/* Problem characteristics */
div.avy-prob-char {
  display: table;
  float: left;
}
div.avy-prob-char-header {
  display: table;
  font-size: 1.12em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

/* Problem characteristics likelihood */
div.avy-prob-char-likely-cell {
//  background-color: #ffa;
  display: table;
  float: left;
}
div.avy-prob-char-likely-inner {
  margin: 0.5em;
//  background-color: #ff5;
}
div.avy-prob-char-likely-image-wrapper {
//  background-color: #ff0;
  position: relative;
  padding-right: 80px;
  padding-left: 30px;

  & img.info {
    max-width: 24px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 3;
  }
}
div.avy-prob-text-likely {
  position: absolute;
  top: 0;
  left: 90px;
  font-weight: bold;
}
div.avy-prob-text-unlikely {
  position: absolute;
  top: 73px;
  left: 90px;
  font-weight: bold;
}

/* Problem characreristics size */
div.avy-prob-char-size-cell {
  display: table;
  float: left;
//  background-color: #aff;
}
div.avy-prob-char-size-inner {
  margin: 0.5em;
//  background-color: #4ff;
}
div.avy-prob-char-size-image-wrapper {
  position: relative;
  padding-right: 60px;
//  background-color: #0ff;
}
div.avy-prob-text-large {
  position: absolute;
  top: 0;
  left: 60px;
  font-weight: bold;
}
div.avy-prob-text-small {
  position: absolute;
  top: 73px;
  left: 60px;
  font-weight: bold;
}

/* Problem characteristics trend */
div.avy-prob-char-trend-cell {
  display: table;
  float: left;
//  background-color: #faf;
}
div.avy-prob-char-trend-inner {
  margin: 0.5em;
//  background-color: #f5f;
}
div.avy-prob-char-trend-image-wrapper {
  position: relative;
  padding-right: 2em;
//  background-color: #f0f;
}
div.avy-prob-text-increasing {
  position: absolute;
  top: 0;
  left: 60px;
  font-weight: bold;
}
div.avy-prob-text-same {
  position: absolute;
  top: 30px;
  left: 60px;
  font-weight: bold;
}
div.avy-prob-text-decreasing {
  position: absolute;
  top: 60px;
  left: 60px;
  font-weight: bold;
}
span.avy-prob-text-duration {
  padding: 0.3125em;
  font-style: italic;
  text-align: center;
  color: #777;
  text-transform: uppercase;
}

div.advisory .darkbg h3 {
  color: #eee;
  text-transform: uppercase;
  font-size: 1.0625em;
  padding: 0.4375em;
  margin: 0.1875em;
}

div#upper-rating-text,
div#mid-rating-text,
div#lower-rating-text {
  color: #ddd;
  height: 3.4375em;
  width: 15.625em;
  z-index: 12;
  float: left;
  position: absolute;
  line-height: 1.25em;
  left: 37.5em;
}

div#upper-rating-text { top: 5.625em; }
div#mid-rating-text { top: 9.375em; }
div#lower-rating-text { top: 13.25em; }

table#avalanche-danger-scale {
  margin: 0.625em auto;
  border: 0 solid #000;
  padding-bottom: 0.625em;
  width: 40.625em;
}

// div.advisory-row {
//   border: 0.0625em solid #ddd;
//   margin-bottom: 0.6875em;
//   padding: 0.3125em;
// }
