// -*- mode: Sass; -*-

/* =============================================================================
 *   Styling for the core Comment module -
 *   Comments, comment wrapper, comment form
 * ========================================================================== */

/* Wrapper for the list of comments and its titles */
#comments {
  margin: 1.5em 0;
  & h2 {
    &.comment-title {
      margin: 0 0 1em 0;
    }
    &.comment-form {
      margin: 0;
    }
  }
}

/* Wrapper for a single comment */
article.comment {
  display: table;
  margin-bottom: 1.25em;
  vertical-align: top;
  & .first {}
  & .last {}
  & .odd {}
  & .even {}
  & .user-picture {
    & img {
      margin-left: 0; /* LTR */
    }
  }
  & .submitted {
    & p {
      margin: 0.25em 0;
      font-size: 1.071em;
      line-height: 1.2;
    }
    & .comment-time {
      font-size: 0.786em;
      color: #68696b;
    }
    & .comment-permalink {
      font-size: 0.786em;
    }
    & .username {}
    & time {}
  }
  & .user-signature {}
  & .attribution {
    display: table-cell;
    padding: 0 1.875em 0 0; /* LTR */
    vertical-align: top;
    overflow: hidden;
    & img {
      margin: 0;
      border: 0.0625em solid #d3d7d9;
    }
    & .username {
      white-space: nowrap;
    }
  }
  ul.links {}
}

/* Comment title */
.comment-title {
  margin: 0;
}

/* Comment states */
.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}

/* Preview of the comment before submitting new or updated comment */
.comment-preview {}

/* "New" marker for comments that are new for the current user */
.new {
  color: $highlight;
}

/* Nested comments are indented */
.indented {
  margin-left: 2.5em;
}

.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../img/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 0.0625em solid;
  border-right: 0.0625em solid;
  height: 2.5em;
  margin-left: -2.9375em; /* LTR */
  margin-top: 0.625em;
  position: absolute;
  width: 1.25em;
}
.comment .comment-text {
  padding: 0.625em  1.5625em;
  border: 0.0625em solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 2.5em; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 0.3125em; /* LTR */
  padding: 0.3125em 0.125em 0.3125em 0.3125em; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 0.0625em solid #fff4f4;
  border-right: 0.0625em solid #fff4f4;
}

/* Comment form */
.comment-form label {
  float: left; /* LTR */
  font-size: 0.929em;
  width: 7.5em;
}
.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 0.625em;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 7.5em; /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.no-sidebars .comment-form .form-text {
//  width: 50em;
}
.one-sidebar .comment-form .form-text {
//  width: 31.25em;
}
.two-sidebars .comment-form .form-text {
//  width: 20em;
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 7.5em; /* LTR */
}
#content h2.comment-form {
  margin-bottom: 0.5em;
}
.comment-form .form-textarea {
  -khtml-border-radius-topleft: 0.25em;
  -khtml-border-radius-topright: 0.25em;
  -moz-border-radius-topleft: 0.25em;
  -moz-border-radius-topright: 0.25em;
  -webkit-border-top-left-radius: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 7.5em;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
