// -*- mode: Sass; -*-
/* Basic styles for Drupal core modules */

/*******  Core Book module *******/
/* Style the Book content type */
.node-book {}

/* "Book navigation" block for the current book's table of contents */
#block-book-navigation {}

/* Book navigation menu */
.book-navigation {

  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}

/******* Core Contact module *******/
/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 0.25em;
  -khtml-border-top-right-radius: 0.25em;
  -moz-border-radius-topleft: 0.25em;
  -moz-border-radius-topright: 0.25em;
  -webkit-border-top-left-radius: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 0.25em;
  -khtml-border-bottom-right-radius: 0.25em;
  -moz-border-radius-bottomleft: 0.25em;
  -moz-border-radius-bottomright: 0.25em;
  -webkit-border-bottom-left-radius: 0.25em;
  -webkit-border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}


/******* Core Forum module *******/
/* "Active forum topics" block */
#block-forum-active {}

/* "New forum topics" block */
#block-forum-new {}

.node-forum {}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  &.created,
  &.posts,
  &.topics,
  &.last-reply,
  &.replies,
  &.pager {
    white-space: normal;
  }
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}


/******* Core Search module *******/
/* Search results are an ordered list so reset the margin */
.search-results {
  margin: 0;
  padding: 0;
}

/* search-form is inserted into search-box from var $search_box */
/* div block-search-form wraps the search form and button */
#block-search-form {
  margin: 0.5em;
}

/* form search-block-form contains the form and search button */
#search-block-form {
  border: 0 none;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  & label {
    display: none;
  }
  & input{
    &.form-submit {
      margin-left: 0;
      margin-right: 0;
      height:  1.5625em;
      width: 2.125em;
      padding: 0;
      cursor: pointer;
      text-indent: -625em;
      border-color: #e4e4e4 #d2d2d2 #b4b4b4;
      background: url(../img/search-button.png) no-repeat center top;
      overflow: hidden;
      &:focus,
      &:hover {
        background-position: center bottom;
      }
    }
  }
}

/* Use the search form without the usual block */
#search-box {
  display: inline;
  & div {
    display: inline;
  }
  & form {
    display: inline;
  }
  & input {
    &.form-submit {
      margin-left: 0;
      margin-right: 0;
      height:  20px;
      width: 34px;
      padding: 0;
      cursor: pointer;
      text-indent: -625em;
      border-color: #e4e4e4 #d2d2d2 #b4b4b4;
      background: url(../img/search-button.png) no-repeat center top;
      overflow: hidden;
      &:focus,
      &:hover {
        background-position: center bottom;
      }
    }
  }
}

/******* Core Taxonomy module *******/
.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
  .field-label {
    font-weight: normal;
    margin: 0;
    padding-right: 0.3125em; /* LTR */
  }
  .field-label,
  ul.links {
    font-size: 0.8em;
  }
  ul.links {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      float: left; /* LTR */
      padding: 0 1em 0 0; /* LTR */
      white-space: nowrap;
    }
  }
  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }
  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 0.625em 0 0;
  }
}

/******* Core User module *******/
.submitted .user-picture img {
  float: left; /* LTR */
  height: 1.25em;
  margin: 0.0625em 0.3125em 0 0; /* LTR */
}
.field-type-image img,
.user-picture img {
  margin: 0 0 1em;
}
.profile .user-picture {
  float: none;
}

/* Password confirmation */
.password-parent,
.confirm-parent {
  margin: 0;
}
.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em;
}
.password-strength-text {
  margin-top: 0.2em;
}
div.password-confirm {
  margin-top: 2.2em;
//  width: 20.73em;
}
.password-suggestions ul li {
  margin-left: 1.2em; /* LTR */
}
