// -*- mode: Sass; -*-
/* Styles for the UAC Responsive Event content type */
//div.event .field-item,
//div.node-event .field-item,
//div.node-uac-paid-event .field-item,
//div.node-uac-class .field-item
article.node-event {
  font-size: 1.15em;
  line-height: 1.25em;
  & div.field-name-field-date-time-1 {
    clear: right;
    float: left;
    font-weight: bold;
    width: 100%;
    border-bottom: 0.125em solid #555;
    padding-left: 0.3125em;
  }
  & div.field-name-body div.field-items {
    border-bottom: 0.125em solid #555555;
  }
}

//div.node-event .field-name-body,
//div.node-uac-paid-event .field-name-body {
//  text-align: justify;
//}

div.node-event div.field-name-field-event-venue div.field-items,
div.node-uac-paid-event div.field-name-field-event-venue div.field-items {
  padding: 0 !important;
}

div.field-name-field-event-venue h2 {
  font-size: 1em !important;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

div.field-name-field-event-venue div {
  font-size: 1em !important;
}

/* div.node-uac-paid-event div.field-name-uc-product-image { */
div.node-uac-paid-event div.field-name-field-event-venue {
  padding-top: 0.9375em;
  border-top: 0.125em solid #555;
  clear: right;
  padding-bottom:  1.5625em;
}


body.node-type-event div.field-name-field-event-venue  {
  float: left;
  clear: right;
  padding-top: 0.9375em;
}

body.node-type-event div.field-name-field-event-venue span.print-link {
  display: none;
}
