// -*- mode: Sass; -*-
/*
 * Style the UAC Responsive front page
 */

/* Special styling for the front page */
body.front {
  & div.region-sidebar-first {
    background-color: #444;
    color: #eee;
    font-size: 15px;
    & div, & section, & nav {
      background-color: #444;
      border: 0;
      & h2 {
        border: 0;
        font-size: 19px;
        text-transform: uppercase;
        font-weight: bold;
      }
      &.block {
        border: 0;
      }
    }
  }
}

@media only screen and (min-width:900px) {
  body.front {
    & div.region-sidebar-first {
      width: 50%;
    }
    & div.content-inner {
      margin-left: 50%;
    }
  }
}

/* Style the state map and the overlays for forecast regions */
div#regionmap-wrapper {
  position: relative;
  display: table;
  color: #eee;
  border: 0;
  margin: 0;
  padding: 0;
  & img {
    border: 0;
    margin: 0;
    padding: 0;
    /* Map of Utah */
    &#utah-map {
      display: block;
    }
    /* Image that overlays a region with an overall danger rating. */
    &.danger-overlay {
      position: absolute;
      top: 0;
      left:0;
    }
  }
}

/* Position the instructions directly above the state map. */
figure#regionmap-figure {
  display: table;
  background-color: #444;
  border: 1px solid #444;
  padding: 0;
  color: #eee;
  & figcaption {
    background-color: #444;
    display: table-caption;
    padding: 5px;
    line-height: 11px;
    font-size: 11px;
    & h2 {
      font-size: 19px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }
    & p {
      margin: 0;
      padding: 0;
    }
  }
}

/* Style the region danger summary tooltip shown on hover.  Each tooltip
   has a fixed position on the map that depends on the region.           */
div.danger-rating-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  opacity: 0.85;
  width: 356px;
  & h3, & div {
    margin: 0;
  }
  /* Line of text at the top with region name and date rated. */
  & div.danger-region {
    font-size: 11px;
    font-weight: bold;
    color: white;
    padding: 5px 0 4px 8px;
    width: 340px;
    & span.name {
      float: left;
    }
    & span.updated {
      float: right;
      font-weight: normal;
    }
  }
  /* Danger rating */
  & div.danger-rating-class {
    text-align: center;
    margin-top: 20px;
    & span {
      display: inline-block;
      padding: 5px;
      width: 330px;
      border: 2px solid #fff;
      color: #000;
      font-weight: bold;
      &.class-0 {
        background-color: #777;
      }
      &.class-1 {
        background-color: #00cc00;
      }
      &.class-2 {
        background-color: #ffff33;
      }
      &.class-3 {
        background-color: #ffaa33;
      }
      &.class-4 {
        background-color: #cc0000;
      }
      &.class-5 {
        background-color: #000; color: #fff;
      }
    }
  }
  & div.danger-rating-data {
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 10px;
    & img {
      margin-left: 8px;
      width: 100px;
      height: auto;
    }
    & div.text {
      color: #fff;
      width: 225px;
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      font-size: 13px;
    }
  }

  /* Scale at the bottom with the five values of the danger rating. */
  & div.danger-scale {
    background-image: url("../img/dr/danger-scale-small.png");
    background-repeat: no-repeat;
    height: 19px;
    /* Superimposed on the danger scale, an inidcator of current rating. */
    & img {
      float: left;
      &.indicator-0 {
        display: none;
      }
      &.indicator-1 {
        padding-left: 25px;
      }
      &.indicator-2 {
        padding-left: 95px;
      }
      &.indicator-3 {
        padding-left: 175px;
      }
      &.indicator-4 {
        padding-left: 250px;
      }
      &.indicator-5 {
        padding-left: 315px;
      }
    }
  }
  /* Make tooltip visible by adding this class to it. */
  &.visible {
    visibility: visible;
  }
}
