// -*- mode: Sass; -*-
/* Basic styles for HTML tags */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
html {
  background: $page;
}

body {
  height: 100%;
  font: {
    family: $sans-serif;
    size: 87.5%;
  }
  line-height: 1.5;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #3b3b3b;
}


/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1 {
  color: #000;
  &#page-title {
    line-height: 1.5;
    @media screen {
      background-color: #444;
      color: #eee;
    }
    display: table;
    padding: 6px 10px;
    margin-top: 0.5em;
    margin-left: -24px;
    font-weight: bold;
    text-transform: uppercase;
//    font-size: 0.857em;
  }
//  .front &#page-title {
//    display: none;
//  }
}

h2, h3, h4, h5, h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}

h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}

h3 {
  font-size: 1.17em;
}

main {
  margin-bottom: 2.5em;
}

@media screen {
  box-shadow: 0 0.9375em 0.9375em 0.5em #555555;
}

p {
  margin: 0 0 1.2em;
  max-width: 50em;
}

p, h3 {
  /*
   * If there is not enough room beside the float to display a readable
   * width of text, force this below the float.
   */
  &:before {
    content: "";
    width: 10em;
    display: block;
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  @media screen {
    color: #0070b3;
    &:hover,
    &:focus {
      color: #008ee2;
      text-decoration: underline;
    }
    &:active {
      color: #22adff;
      text-decoration: underline;
    }
  }
  @media print {
    color: black;
//    #content &:after {
//      content: " (" attr(href) ") ";
//    }
  }
}

b,
strong {}


i,
em {}


dfn {}


sup {}


sub {}


del {
  text-decoration: line-through;
}


ins {}


blockquote {
  background: #f7f7f7;
  border-left: 0.0625em solid #bbb;
  font-style: italic;
  margin: 1.5em 0.625em;
  padding: 0.5em 0.625em;
  &:before {
    color: #bbb;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
  }
  &:after {
    color: #bbb;
    content: "\201D";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.45em;
  }
  > p:first-child {
    display: inline;
  }
}

cite {}


q {}


address {}


ul {}


ol {}


li {}


dl {}


dd {}


dt {}


abbr {}


acronym {}


pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
  padding: 0 0.4em;
  font-size: 0.857em;
}
code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 1em;
  background-color: transparent;
}
pre code,
pre samp,
pre var {
  padding: 0;
}
kbd {
  background-color: #f2f2f2;
  border: 0.0625em outset #575757;
  margin: 0 0.1875em;
  color: #666;
  display: inline-block;
  padding: 0 0.375em;
  -khtml-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 0.625em 0;
  overflow: hidden;
  padding: 0.9375em;
  white-space: pre-wrap;
}

/*
 * Define consistent borders
 */
fieldset {
  background: #ffffff;
  border: 0.0625em solid $border;
  margin-top: 0.625em;
  margin-bottom: 2em;
  padding: 0 0 0.625em;
  position: relative;
  top: 0.75em; /* Offsets the negative margin of legends */
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  legend {
    background: #dbdbdb;
    border: 0.0625em solid #ccc;
    border-bottom: none;
    color: #3b3b3b;
    display: block;
    height: 2em;
    left: -0.0625em; /* LTR */
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 0.625em;
    text-shadow: 0 0.0625em 0 #fff;
    top: -0.75em;
    width: 100%;
    -khtml-border-radius-topleft: 0.25em;
    -moz-border-radius-topleft: 0.25em;
    -webkit-border-top-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
    -khtml-border-radius-topright: 0.25em;
    -moz-border-radius-topright: 0.25em;
    -webkit-border-top-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
    legend a {
      color: #3b3b3b;
      &:hover,
      &:focus,
      &:active {
        color: #000;
      }
    }
  }
}

input {
  margin: 0.125em 0;
  padding: 0.25em;
}

input,
textarea {
  font-size: 0.929em;
}

textarea {
  line-height: 1.5;
}

input[type="text"] {
  font-family: monospace;
  font-size: 13px;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  border: 0;
  border-spacing: 0;
  margin: 0.625em 0;
  width: 100%;
  padding: 0;
  &.sticky-header {
    z-index: 10;
  }
  td, th {
    padding: 4px 9px;
    border: 1px solid #fff;
    text-align: left; /* LTR */
  }
  th {
    background-color: #5ea2dd;
    font-weight: bold;
    color: white;
    border-bottom-style: none;
    a {
      color: white;
    }
  }
  tr.odd {
    background: #eaeef2;
  }
  tr.even {
    background: #d6e0ed;
  }
  td {
    font-size: 0.8em;
  }
}

