// -*- mode: Sass; -*-
/* Styles for UAC Responsive polls. */

#edit-choice .node .poll {
  margin: 0 0 1.5em;
}
.node .poll {
  margin: 2em 0;
  .text {
    margin-right: 6.75em;
  }
}
.poll {
  .vote-form {
    text-align: left; /* LTR */
    .choices {
      margin: 0;
    }
  }
  .percent {
    font-size: 0.857em;
    font-style: italic;
    margin-bottom: 3em;
    margin-top: -3.2em;
    float: right;
    text-align: right;
  }
  .text {
    clear: right;
    margin-right: 2.25em;
  }
  .total {
    font-size: 0.929em;
    font-style: italic;
    text-align: right; /* LTR */
    clear: both;
  }
  .bar .foreground {
    background-color: #666;
  }
}
