// -*- mode: Sass; -*-
/*
 * Styles for UAC Responsive page regions.
 */

/* --------------- Highlighted ---------------- */

#highlighted {
  border-bottom: 0.0625em solid #d3d7d9;
  font-size: 1.2em;
}

/* Content */
#content h2 {
  font-size: 1.429em;
  line-height: 1.4;
  margin-bottom: 0.125em;
}


/*
 * Wraps all header elements - branding and .region-header
 */
#header {
  display: block;
  width: 100%;
  background {
    color: transparent;
    image: none;
  }
  &,
  & a,
  & li a.active {
    color: #fffeff;
  }
  & .without-secondary-menu {
    margin-top: 2.5em;
  }
  /* Style paragrapghs in the "Header" region */
  & p {
    margin: 5px 0;
    width: auto;
  }
  /* Style blocks in the "Header" region */
  & .block {
    font-size: 0.857em;
    float: left; /* LTR */
    margin: 5px 0;
    padding: 0;
    & .content {
      margin: 0;
      padding: 0;
    }
    & ul {
      margin: 0;
      padding: 0;
    }
    & li {
      list-style: none;
      list-style-image: none;
      padding: 0;
    }
  }

  /* Style forms in the "Header" region */
  & .form-text {
    background: #fefefe;
    background: rgba(255, 255, 255, 0.7);
    border-color: #ccc;
    border-color: rgba(255, 255, 255, 0.3);
    margin-right: 0.125em; /* LTR */
    width: 7.5em;
    &:hover,
    &:focus,
    &:active {
      background: #fff;
      background: rgba(255, 255, 255, 0.8);
    }
  }
  & .form-required {
    color: #eee;
    color: rgba(255, 255, 255, 0.7);
  }

  /* Style menu blocks in the "Header" region */
  & .block-menu {
    border: 0.0625em solid;
    border-color: #eee;
    border-color: rgba(255, 255, 255, 0.2);
    padding: 0;
    width: 13em;
    & li {
      & a {
        display: block;
        border-bottom: 0.0625em solid;
        border-bottom-color: #eee;
        border-bottom-color: rgba(255, 255, 255, 0.2);
        padding: 0.1875em 0.4375em;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          background: rgba(255, 255, 255, 0.15);
        }
      }
      &.last a {
        border-bottom: 0;
      }
    }
  }

  /* Style the User login block in the "Header" region */
  & #block-user-login {
    width: auto;
    & .content {
      margin-top: 0.125em;
    }
    & .form-item {
      float: left; /* LTR */
      margin: 0;
      padding: 0;
    }
    & div.item-list,
    & div.description {
      font-size: 0.916em;
      margin: 0;
    }
    & div.item-list {
      clear: both;
    }
    & div.description {
      display: inline;
    }
    & .item-list {
      & ul {
        padding: 0;
        line-height: 1;
      }
      & li {
        list-style: none;
        float: left; /* LTR */
        padding: 0.1875em 0 0.0625em;
      }
      & li.last {
        padding-left: 0.5em; /* LTR */
      }
    }
    & ul.openid-links li.last {
      padding-left: 0; /* LTR */
    }
    & .form-actions {
      margin: 0.25em 0 0;
      padding: 0;
      clear: both;
    }
    & input.form-submit {
      border: 0.0625em solid;
      border-color: #ccc;
      border-color: rgba(255, 255, 255, 0.5);
      background: #eee;
      background: rgba(255, 255, 255, 0.7);
      margin: 0.25em 0;
      padding: 0.1875em 0.5em;
    }
    & input.form-submit:hover,
    & input.form-submit:focus {
      background: #fff;
      background: rgba(255, 255, 255, 0.9);
    }
  }
  & #user-login-form li.openid-link a,
  & #user-login li.openid-link a {
    padding-left: 1.25em; /* LTR */
  }

  /* Style the search block in the "Header" region. */
  & #block-search-form {
    width: 13em;
    & .form-text {
      width: 9.625em;
    }
  }

  /* Style the Language switcher block in the "Header" region. */
  & .block-locale ul li {
    display: inline;
    padding: 0 0.5em;
  }
}

/*
 * Footer
 */
#footer {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  letter-spacing: 0.2px;
  margin: 1em;
  & a {
    color: rgba(255, 255, 255, 0.8);
  }
  & a:link,
  & a:visited {
    text-decoration: none;
  }
  & .block {
    border: medium none;
    clear: both;
    margin: 0.5em 0;
    & .content {
      margin-top: 0;
      padding: 0.5em 0;
    }
    & h2 {
      margin: 0;
    }
  }
  & .region {
    margin-top: 1.25em;
  }
  & li {
    list-style: none;
    margin: 0;
    padding: 0;
    &  a {
      float: left; /* LTR */
      padding: 0 0.75em;
      display: block;
      border-right: 0.0625em solid #555; /* LTR */
      border-color: rgba(255, 255, 255, 0.15);
    }
    &.first a {
      padding-left: 0; /* LTR */
    }
    &.last a {
      padding-right: 0; /* LTR */
      border-right: none; /* LTR */
    }
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Standard region wrapper, don't add width to any regions, you will bork
 * the layout - no margin, padding or borders etc
 */
.region {}


/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
.region-inner {}


/*
 * Regions can be nested, such as when using Panels
 */
.region-inner .region-inner {}


/* Sponsor ads region, embedded in the #header */
/* Don't show sponsor adds when printing */
@media print {
  div.region-sponsor-ads {
    display: none !important;
  }
}
div.region-sponsor-ads {
  display: table;
  float: left;
}

/* Style the "Header middle" region */
/* Don't show "Header middle" when printing */
@media print {
  .region-header-middle {
    display: none !important;
  }
}
.region-header-middle {
  display: table;
  float: left;
}

/* Style the "Help" region,  generally used to output Drupal's
   help block, if the help module is enabled */
.region-help {
  background-color: white;
  border: 0.0625em solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 1.875em;
}


/*
 * Secondary content
 */
.region-secondary-content {}


/*
 * Sits above the main content header, like a content-top region
 */
.region-highlighted {}


/*
 * Sits below the main content, like a content-bottom region
 */
.region-content-aside {}

/* Sidebars - targets both */
/* Don't show sidebar when printing */
@media print {
  div.sidebar {
    display: none !important;
  }
}
.sidebar {
  overflow: hidden;
  padding-bottom:  1.5625em;
  & .section {
    padding: 3px !important;
  }
  & .block {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    & .content {
      font-size: 0.914em;
      line-height: 1.4;
    }
  }
  & h2 {
    border: {
      top: 2px solid #D6D6D6;
      bottom: 1px solid #CCCCCC;
    }
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 0.5em;
    padding: 5px 0;
    text-shadow: 0 1px 0 #fff;
  }
}

/*
 * Sidebars
 */
.region-sidebar-first,
.region-sidebar-second {
  background-color: #CCCCCC;
  min-width: 11em;
  display: inline;
  position: relative;
}

/*
 * Tertiary content
 */
.region-tertiary-content {}


/*
 * Footer region
 */
.region-footer {}
