// -*- mode: Sass; -*-
/*
 * Styles for UAC Responsive Ubercart module.
 */

#uc-cart-view-form th {
  display: none;
}

div.uc_out_of_stock_throbbing {
  float: left;
  margin-right: 0.625em;
  margin-left: 0.625em;
  margin-top: 0.5em;
}

input.node-add-to-cart {
  font-size: 1.25em;
}

td.qty { display: none; }
.qty { display: none; }

