// -*- mode: Sass; -*-
/*
 * Styles for UAC Responsive views.
 */

/* Style the UAC Responsive Events view unformatted list views format */
div.view-events {
  div.view-content {
    display: table;
    border-collapse: collapse;
    &  div.views-row {
      display: table-row;
      border: 1px solid #ccc;
      & div#event-col-1 {
        display: table-cell;
        padding: 0.5em 0.5em 0.5em 1em;
        width: 39%;
        border-right: 1px solid #ccc;
      }
      & div#event-col-2 {
        display: table-cell;
        width: 59%;
        padding: 0.5em 0.5em 0.5em 1em;
      }
      & div#title,
      & div#month-day {
        font-size:  1.4em;
        font-weight: bold;
      }
      & div#time {
        font-size: 1.2em;
        color: #aaa;
      }
      & div#venue-name {
        margin-top:  1em;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
      }
      & div#venue-city-state-zip,
      & div#venue-phone,
      & div#venue-street {
        font-size: 0.75em;
      }
      & div#venue-url {
        margin-top: 0.625em;
        word-break: break-all;
        & a {
          word-break: break-all;
          color: red;
        }
      }
    }
  }
}

/* Style the UAC Responsive views calendar pager */
div.view-header {
  & .date-nav-wrapper {
    border: 1px solid #ccc;
    height: 36px;
    margin: 5px 0 10px 0;
    padding: 0;
    & .date-nav {
//      background-color: pink;
      height: 36px;
      margin: 0;
      padding: 0;
      & .date-heading {
        & a.uac_responsive-date-prev {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          padding: 0;
          & img {
            margin: 0;
            padding: 0;
            height: 36px;
            width: 36px;
          }
        }
        & span.date-title {
          display: inline-block;
          vertical-align: middle;
          line-height: 36px;
          font: {
            weight: bold;
            size: 24px;
          }
          text-align: center;
          margin: 0;
          padding: 0;
        }
        & a.uac_responsive-date-next {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          & img {
            margin: 0;
            padding: 0;
            height: 36px;
            width: 36px;
          }
        }
      }
    }
  }
}

/* Style the UAC Avalanche Classes grid view */
body.page-avalanche-classes {
  & div.view-avalanche-classes {
    & table.views-view-grid {
      & caption {
        font-weight: bold;
        font-size: 1.75em;
        margin-left: 0.9375em;
      }
      & td {
        font-size: 1.75em;
        font-weight: bold;
        padding: 1.25em 0.9375em;
        border: 0.9375em solid #fff;
        vertical-align: top;
      }
    }
    & div.view-header {
      padding: 1.25em 1.25em 0;
      border: 0.0625em solid #ccc;
    }
  }
}

/* Style the Avalanche Classes Admin view */

div.field-name-field-instructors .field-collection-view {
  border: 0 solid #000;
  padding: 0.125em;
  &  .field-label {
    width: auto;
  }
}

/* Style the Header Announcement view */
#block-views-header-announcement-block {
  color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 0.0625em;
  position: relative;
  text-shadow: 0.125em 0.125em rgb(0, 0, 0);
  top: 0.1875em;
  max-width: 33.125em;
  &  a {
    color: rgb(163, 214, 255);
  }
}

/* Style the sponsor ads view.  Since it's a slideshow we have to explictly
   give it the size of the largest image.  Don't show on print. */
@media print {
  #sponsor-row {
    display: none !important;
  }
}

#block-views-spad-block-1 {
  width: 163px;
  height: 100px;
}

/* Style the blog view */

div.view-blog span.views-field-title {
  font-size: 1.1875em;
}
