// -*- mode: Sass; -*-
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

@import "html_tags";
@import "drupal_core";
@import "drupal_admin";

/* =============================================================================
 *   Wrappers
 * ========================================================================== */

/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings. You can
 * style the .container class but do not add width such as border, padding,
 * margins etc.
 */

#page  {
  background: none;
}

/*
 * Wraps the sidebars the content column
 */
#columns {
  padding-top: 0.75em;
}


/*
 * Main content column wrapper
 */
#content-column {
  background-color: white;
}

@media only screen and (min-width: 1024px) {
  #content-column {
    box-shadow: 0px 15px 15px 8px #555555;
  }
  #page-wrapper {
    background: url("/sites/all/themes/uac_responsive/img/bg.jpg") no-repeat fixed 0 0 transparent;
  }
}

@media only screen and (max-width: 1023px) {
  #page-wrapper {
    background-color: #444;
  }
}

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
#main-content {
  padding: 0 1em 1em 1em;
  background-color: white;
}

/*
 * Footer wrapper
 */
@media print {
  #footer-wrapper {
    display: none !important;
  }
}
#footer-wrapper {
  background: #292929 none repeat scroll 0 0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
  padding: 35px 5px 30px;
  width: 100%;
}

/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */

/*
 * Wraps breadcrumb
 */
#breadcrumb-wrapper {
  font-size: 0.929em;
}

/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {
  display:table;
  float: left;
  max-width: 45%;
  margin: 5px 0;
}


/*
 * Logo
 */
#logo {
  float: left;
  img {
    border: 0 none;
    outline: 0 none;
  }
}


/*
 * Wrapper for the site name and slogan
 */
#name-and-slogan {
  float: left; /* LTR */
  padding-top: 2.125em;
  margin: 0 0 1.875em 0.9375em; /* LTR */
}
#name-and-slogan,
#name-and-slogan a {
  color: #fffeff;
}

#secondary-menu-links {
  float: right; /* LTR */
  font-size: 0.929em;
  margin: 0.625em 0.625em 0;
  li a {
    color: #fffeff;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}


/*
 * Site name (h1)
 */
#site-name {
  margin: 0;
  font-size: 1.821em;
  color: #686868;
  line-height: 1;

  h1 {
    margin: 0;
  }

  a {
    font-weight: normal;
    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/*
 * Site slogan (h2)
 */
#site-slogan {
  margin: 0;
  font-size: 0.929em;
  margin-top: 0.4375em;
  word-spacing: 0.1em;
  font-style: italic;
}

/* ==============
 *   Priority One region for urgent warnings
 *=================== */
div.region-priority-one {
  clear: both;
  border: 3px red solid;
  display: block;
  background-color: #444;
  max-width: 440px;
  width: auto;
}


/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * Main content header wraps the page title, tabs and actions links
 */
#main-content-header {
  padding-top: 0.5em;
  background-color: #ffffff;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

a.feed-icon {
  display: inline-block;
  padding: 0.9375em 0 0 0;
}


/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 0.625em;
}


.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}


/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 0.625em 0 0;
  }
}

/*
 * Attribution message and link
 */
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 *   NB: The primary menu is in #main-menu and handled by nice_menus
 * ========================================================================== */

/* Don't show menus on print media */
@media print {
  #main-menu,
  nav,
  .nav {
    display: none !important;
  }
}

#main-menu {
  background-color: #333;
  float: left;
  width: 100%;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}

.nav {
  clear: both;
  background-color: #333;
  float: left;
  width: 100%;
  margin: 0.625em 0;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 0 0.625em;
  }

  .block {
    margin-bottom: 0;
  }
}


/* =============================================================================
 *   Superfish
 * ========================================================================== */

ul.sf-menu {
  margin-bottom: 0;

  a {
    border-left: 0;
    border-top: 0;
    padding: 0 0.625em;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5em;
  }

  li {
    &:hover,
    &.sfHover {
      outline: 0;
    }
  }

  a {
    &:focus,
    &:hover,
    &:active {
      outline: 0;
    }
  }
}


/*
 * Superfish blocks
 */
.block-superfish {

  ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  li {
    margin: 0 !important;
    padding: 0 !important;
  }
}


/*
 * Vertical style
 */
.sf-vertical {
  width: 100%;

  li {
    width: 100%;
    &:hover ul,
    &.sfHover ul {
      left: 100%;
      top: 0;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 0 0.625em;
    }
  }
}


/*
 * Navbar style
 */
.sf-navbar {
  padding-bottom: 0 !important;
}


/*
 * Sensible padding for the default style
 */
.sf-menu.sf-style-default a {
  padding: 0 0.625em;
}

/*
 * Mean menus, used on mobile
 */
.mean-container {
  & .mean-nav {
    background-color: #444;
    & ul li a[href*="contribute"] {
      background-color: red;
    }
  }
  & .mean-bar {
    background-color: #444;
  }
}

/*
 * Links at bottom of page, just above footer
 */
nav#footer-links {
  margin: 0 1em;
  a {
    margin: 0.5em;
    vertical-align: -9px;
  }
  div {
    margin: 0.5em;
  }
}

/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */
// .at-mt is a page class
.at-mt {
  .at-menu-toggle,
  .at-menu-toggle ul,
  .at-menu-toggle ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .at-menu-toggle-button {
    margin: 0;
  }

  .at-menu-toggle ul a {
    padding: 0 0.625em;
    white-space: nowrap;
  }
}


/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 0.9375em;

  ul {
    padding-left: 0.9375em;
  }

  li {
    margin: 0;
  }
}


/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}



/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 0.625em 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 0.625em;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}


.item-list ul.pager li {
  margin: 0;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}


.block ul.pager li {
  margin: 0;
}



/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

nav#tasks {
  & .tabs {
    margin-bottom: 0.9375em;
  }
  & ul.primary {
    border-bottom-color: $border;
    margin: 1.25em 0;
    padding: 0 0 0 0.3125em;

    & li {
      display: block;
      float: left;
      margin: 0 0.0625em -0.0625em;

      & a {
        background-color: $ultralight;
        border-color: $border;
        margin-right: 0.0625em;
        padding: 0 0.625em;
        display: block;
        float: left;
        height: 1.5em;
        line-height: 1.5em;
        -khtml-border-radius-topleft: 0.375em;
        -moz-border-radius-topleft: 0.375em;
        -webkit-border-top-left-radius: 0.375em;
        border-top-left-radius: 0.375em;
        -khtml-border-radius-topright: 0.375em;
        -moz-border-radius-topright: 0.375em;
        -webkit-border-top-right-radius: 0.375em;
        border-top-right-radius: 0.375em;
        -khtml-border-radius-topleft: 0.375em;
        -moz-border-radius-topleft: 0.375em;
        -webkit-border-top-left-radius: 0.375em;
        border-top-left-radius: 0.375em;
        -khtml-border-radius-topright: 0.375em;
        -moz-border-radius-topright: 0.375em;
        -webkit-border-top-right-radius: 0.375em;
        border-top-right-radius: 0.375em;

        &:hover,
        &:focus {
          background-color: $light;
          border-color: $border;
        }
      }
    }

    & li.active {
      & a,
      & a:hover,
      & a:focus {
        background-color: $page;
        border-bottom-color: $page;
      }
    }
  }
  & ul.secondary {
    border-bottom: 0.0625em solid $border;
    margin: 1em 0 0;
    padding: 0 .3em 1em;

    & li {
      border-right: 0;
      list-style: none;
      padding: 0 0.625em 0 0;

      & a {
        -moz-border-radius: 0.3125em;
        -webkit-border-radius: 0.3125em;
        -khtml-border-radius: 0.3125em;
        border-radius: 0.3125em;
        &:hover,
        &.active {
          border-bottom: none;
          text-decoration: underline;
        }
      }
    }
  }
}

/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 1.25em 0 0;
  list-style: none;
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {

  /* Remove the margin on inline field lables to preserve vertical formatting */
  .field-label {
    margin: 0;
  }
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Image Alignment Theme Settings - included here so you can easily override
 */

/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 0.3125em 1.25em 0.9375em 0;
}


/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 0.3125em auto 0.9375em;
}


/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 0.3125em 0 0.9375em 1.25em;
}



/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {
  margin-bottom: 1.25em;
}

/*
 * Block title
 */
.block-title {
  margin: 0;
}

/*
 * Match item list and block menu margin and padding
 */
.block-content {

  ul,
  ol {
    padding: 0 0 0 0.9375em;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
  float: left; /* LTR */
  margin: 0;
}
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em;
}



/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 1.25em;
  &.node-sticky {
    background: #f9f9f9;
    background: rgba(0, 0, 0, 0.024);
    border: 0.0625em solid #d3d7d9;
    padding: 0 0.9375em 0.9375em;
  }
  &.node-teaser {
    border-bottom: 0.0625em solid #d3d7d9;
    margin-bottom: 1.875em;
    padding-bottom: 0.9375em;
    .content {
      clear: none;
      line-height: 1.6;
      font-size: 1em;
    }
    h2 {
      margin-top: 0;
      padding-top: 0.5em;
      & a {
        color: #181818;
      }
    }
  }
  &.node-full {
    background: none;
    border: none;
    padding: 0;
  }

  .node-title {
    margin: 0;
  }

  .node-content {
    font-size: 1.071em;
  }
}

/*
 *  Style the links to print, PDF versions to the right
 */
nav#link-wrapper {
  clear: both;
  margin: 1em 0;
  padding: 0;
  text-align: right;
}

@import "poll";
@import "region";

/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 0.0625em solid $highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {
  }

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes ,
  &.form-radios {
  }
}


/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}


/* ---------------- Buttons    ---------------- */

input.form-submit,
a.button {
  background: #fff url(../img/buttons.png) 0 0 repeat-x;
  border: 0.0625em solid #e4e4e4;
  border-bottom: 0.0625em solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 0.25em 1.0625em;
  -khtml-border-radius: 0.9375em;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 0.9375em;
  border-radius: 0.9375em;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

.description code {
  font-size: 1em;
}

/*
 * Tips for Drupal's input formats
 */
.tips {
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
  // Left and right margin are set by the global gutter width
  margin-bottom: 0.625em;
  margin-top: 0.625em;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.status {
  }

  &.warning {
  }
}

tr.warning {
}


div.error,
tr.error {
}


.error {
}


.warning {
}


/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {
}


.node-unpublished,
.comment-unpublished {

  // FIXME unpublished is ???
  p.unpublished {
    @include unpublished;
  }
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 2.5em 0;
  }

  #page-title {
    margin: 0;
  }
}


.db-offline {
  .container {
    margin: 0 auto;
    padding: 2.5em 0;
    width: 100%;
    max-width: 60em;
  }

  div.messages {
    margin: 1.25em 0 0;
  }

  #content {
    padding: 1.25em 0;
  }
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}


/*
 * Devel Module
 */
.dev-query {
  background: $light;
  padding: 1.875em;
}


/* ------------------ List Styles ------------------ */

.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: 0.923em;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
ul.menu li {
  margin: 0;
}

/* item list */
.item-list ul,
.item-list ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em; /* LTR */
  li {
    margin: 0;
    padding: 0.2em 0.5em 0 0; /* LTR */
  }
  & .pager {
    font-size: 0.929em;
  }
}

ul.tips {
  padding: 0 0 0 1.25em; /* LTR */
}

/* ----------------- Content ------------------ */

.content {
  margin-top: 0.625em;
}
.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -0.3125em;
}

.node-unpublished {
  margin: -1.25em -0.9375em 0;
  padding: 1.25em 0.9375em 0;
}
.node-unpublished .comment-text .comment-arrow {
  border-left: 0.0625em solid #fff4f4;
  border-right: 0.0625em solid #fff4f4;
}

ul.action-links {
  list-style: none;
  margin: 0.3125em;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 0.625em;
}
ul.action-links li a {
  padding-left: 0.9375em;
  background: url(../img/add.png) no-repeat left center;
  margin: 0 0.625em 0 0;
}

/* ---------------- Messages  ----------------- */

#messages {
  padding: 1.25em 0 0.3125em;
  margin: 0 auto;
}
.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
div.messages {
  margin: 0.5em 0.9375em;
}


/* -------------- Form Elements   ------------- */

.fieldset-wrapper {
  margin-top:  1.5625em;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  font-size: 0.857em;
  padding: 0.125em 1.25em 0;
}
.filter-wrapper .form-item label {
  margin-right: 0.625em;
}
.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
fieldset.collapsed legend {
  -khtml-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
fieldset .fieldset-wrapper {
  padding: 0 0.625em;
}
fieldset .fieldset-description {
  margin-top: 0.3125em;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}
textarea.form-textarea,
select.form-select {
  padding: 0.25em;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 0.0625em solid #ccc;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
.form-item {
  margin-bottom: 1em;
  margin-top: 0.125em;
}
.form-item label {
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 0.25em;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0.125em;
}
.form-actions {
  padding-top: 0.625em;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}
.form-disabled label {
  color: #717171;
}
#edit-actions input {
  margin-right: 0.6em; /* LTR */
}

// Styling unique to the UAC site
/* Social buttons */
/* Don't show social buttons on print media */
@media print {
  nav.social-buttons {
    display: none;
  }
}

nav.social-buttons {
  margin: 1em;
}

@media print {
  #environment-indicator,
  #announcement-row,
  #general-announcements-row {
    display: none !important;
  }
}

div#field-overall-rose-add-more-wrapper { display: none; }

.darkbg { background-color: #444; }

.clearbg { background-color: transparent; }

@import "advisory";
@import "civicrm";
@import "event";
@import "views";
@import "front";
@import "ubercart";
