// -*- mode: Sass; -*-
/* =============================================================================
 * Main menu handled by nice_menus.  Styles for uac_responsive theme.
 * ===========================================================================*/

// Color for links in the main menu
$main-menu-color: #eee;

// Background color for the main menu
$main-menu-bg: #333;

// Highlight color
$main-menu-hilite: #ce4141;

// Use this font for the main menu
@font-face {
  font-family: 'OstrichSansBlack';
  src: url('/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.eot');
  src: url('/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.woff') format('woff'),
       url('/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.ttf') format('truetype'),
       url('/sites/all/themes/uac_responsive/css/fonts/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}

#main-menu {
  ul.nice-menu {
    background-color: $main-menu-bg;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    z-index: 50;
    & ul {
      list-style: none;
      padding: 0;
      border: 0;
      margin: 0;
      text-align: left;
      z-index: 50;
      & li {
        display: block;
      }
    }
    & li {
      border: 0 none;
      margin: 0;
      padding: {
        left: 0;
        top: 0.1em;
        bottom: 0.1em;
      }
      background-image: none;
      & a {
        font: {
          family: OstrichSansBlack;
          size: 17px;
        }
        text-transform: uppercase;
	padding: 5px;
        margin: 3px;
        color: $main-menu-color;
        &:hover {
          color: $main-menu-hilite;
        }
      }
    }
  }

  // Styling for main menu elements that expand downward
  ul.nice-menu-down {
    float: left;
    border: 0;
    left: 0;
    padding-left: 0.3125em;
    & li {
      border: 0 none;
      position: relative;
      display: inline-block;
      background-color: $main-menu-bg;
      & ul {
        & li ul {
          left: 10em;
          top:0;
        }
      }
      &.menuparent {
        background: transparent right center no-repeat;
        & ul {
          left: auto;
          width: auto;
        }
      }
      & li {
        border-top: 0;
        margin:0;
        padding: 0 0.3125em 0 0.1875em;
        &.menuparent {
          background-color: $main-menu-bg;
        }
        & a {
          padding: 0.3125em;
          padding-top:0;
          padding-bottom:0;
          margin:0;
        }
      }
    }

    // Link to the Donate page gets special prominent coloring.
    & > li a[href*="contribute"] {
      background-color: $main-menu-hilite;
      color: $main-menu-color;
      & a:hover {
        color: $main-menu-color;
      }
    }
    & ul {
      & li {
        clear: both;
        width: auto;
      }
      & ul {
        margin-left: 10em;
      }
    }
    .menuparent a {
      white-space: nowrap;
    }
  }
}
